[2021-07-01 19:42] samuelgregorovic commented on #1170
@micahellison  @wren i can work on this if you would assign it to me.

[2021-07-01 22:28] wren commented on #1170
@samuelgregorovic Thanks for volunteering for this! We don't really use the assign field very often here. We just ask that someone comment in the issue that they're working on it (which you just did).

So, just send a PR over whenever you're ready. 😄

[2021-07-01 22:35] wren commented on #1205
@samuelgregorovic For this, I was thinking it would be useful to have a generic method to show announcements. And then from there we can choose the source. I wouldn't want the whole changelog in there, since it's autogenerated. I want to be as spare as possible when putting anything in front of our users, so I only envision us using this when a change affects users.

And I agree that some sort of

[2021-07-01 22:38] wren commented on #1284
@zidingz Hi! The best way to contact us is to [email the maintainers](mailto:jrnl-sh@googlegroups.com). That link is normally only in our code of conduct, but you raise a very good point that we should add an explicit security policy. Thanks for reporting this! We'll be adding one soon.

[2021-07-01 22:40] samuelgregorovic commented on #1205
@wren so basically i could make a generic tool for setting and publishing such announcements + some option to hide it right? and afterwards we can talk about the source of the message. ( fyi i didnt mean the whole changelog, just the latest entry from it). for the config option i agree with @micahellison, that we could incorporate that into a config file, and st the end of a message, guide them to

[2021-07-01 22:42] samuelgregorovic commented on #1170
@wren  understood. thanks!

[2021-07-01 22:54] wren commented on #1270
@musicinmybrain Thank you for the very detailed and informative response! I just wanted to let you know that I've read it and will respond soon. @micahellison and I usually work on jrnl on Saturdays, so we'll go over this then and decide on a course of action.

[2021-07-01 23:12] wren commented on #1274
I'm personally not against some amount of duplication in our docs. We already have some duplicated for the help screen (in `jrnl/args.py`), so it's not a big deal to me as long as there's an different intended audience (like the difference between someone browsing the website or looking at a man page).

My biggest concern here is maintainability. From what I see, the groff format is a bit terse (n

[2021-07-02 08:47] zidingz commented on #1284
Thanks so much! Expect an email soon.

[2021-07-02 12:07] musicinmybrain commented on #1274
There are a few alternatives out there that I know of, and probably a lot that I don’t know of:

- [groff_man(7)](https://man7.org/linux/man-pages/man7/groff_man.7.html) format is indeed a bit terse, but at least the language is compact and well-documented, and there are a lot of examples. I can remember learning this format, and it wasn’t too bad, but I know a lot of people are put off by its app

[2021-07-03 19:33] micahellison commented on #1205
Hi @samuelgregorovic, thanks for your thoughts on this.

I'm hesitant to add a config option for this right now because I want to keep config bloat down. Once #1102 is resolved and config keys can have defaults that are invisible, I think a config option for this would be fine.

I'm talking with @wren right now about what triggers this as well. Currently, every time jrnl runs, it opens the config

[2021-07-03 19:40] samuelgregorovic commented on #1205
@micahellison understood. i will be working on the [#1170](https://github.com/jrnl-org/jrnl/issues/1170) in the meantime, until we can agree on how to do this in a safe way.

[2021-07-03 20:15] micahellison commented on #1274
Thanks for all the info, @musicinmybrain. It seems like any doc converter that could use markdown as a data source would be ideal, since we use it everywhere else. Though I don't know what might be lost in the conversion process. Maybe [pandoc](https://pandoc.org/) could handle this?

I don't want Windows users to be left out by this also. The closest thing to `man` on native Windows is `help`, wh

[2021-07-03 22:41] micahellison opened #1286 "Clean up .gitignore"
Our .gitignore has grown pretty large. In particular, it has lots of lines in there specific to environments and editors.

We should clean it up a bit, with a comment advising contributors on [how to modify their global gitignore](https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer) so as to discourage them

[2021-07-03 22:49] #1192 closed, assigned to micahellison, wren

[2021-07-03 22:59] micahellison opened #1287 "Pytest BDD follow-up tasks"
We just merged in a big PR to migrate our tests from `behave` to `pytest-bdd`. There are a few follow-up tasks, though:

- [x] Update CI: add flake8, remove PyFlakes
- [x] Implement tests added to Behave during pytest BDD migration then remove Behave from the makefile and CI
- [ ] Improve handling of the ExitStack logic for mocking

[2021-07-05 18:13] wren commented on #1006
Yup! Agreed and merged.

Yeah, I'm not jazzed about it either. Not sure if that's doable without the init files, though. Maybe we can move to something better like `jrnl.constants` or something?

I commented on the PR about not understanding the use case, but I wanted to bring up a separate point here. If the version for each plugin is always the same, and it's always imported from jrnl, then why

[2021-07-05 19:13] wren commented on #1274
Ah, right. It's always good to have reminders that we support Windows, too.

So, from all of the above, here's what I think should happen. We should:

- Keep a hand-written man page in a more generic format (preferably markdown since that's what we use for everything else, but maybe asciidoc if non of the converters for markdown pan out).
- Take out what's currently on the help screen (in `jrnl/ar

[2021-07-05 19:19] wren commented on #1274
Also, quick notes on some tools to investigate (in addition to everything mentioned above):
- https://rtomayko.github.io/ronn/ronn.1
- https://github.com/sunaku/md2man
- https://kramdown.gettalong.org/converter/man.html
- https://www.npmjs.com/package/markdown-to-txt

[2021-07-05 19:38] viegasfh commented on #1263
I also found this bug a few days ago. Thanks for bringing it up!

[2021-07-05 20:01] thw26 opened #1289 "Allow custom file extensions for directory-based journal"
## Support Request

### Environment
[code]

### What are you trying to do?
I have my journal saving in a directory instead of a monolithic file. I'd like the new entries to be saved with a .md extension. What is the proper way to set this in the config file?

### What have you tried?
Setting a yaml option as follows:

[code]

[code]

### Other Information

[2021-07-05 20:09] viegasfh commented on #995
I have given a try to this import feature, and it doesn't work for other journals, only the default one.

[code]
It always gets imported to the default journal and not the one I am pointing out, which should be personal in this case.

[2021-07-06 17:56] minchinweb commented on #1006
I can make `jrnl.__version__` work, the code is simple; I'm just not sure where to put the code:

[code]

I've been thinking about this, and trying to come up with a plausible scenario where it might make a difference, and mostly coming up empty.

One place where it might make a difference is when the plugin code is used as demo code for others writing their own plugins; I don't want them to set t

[2021-07-06 21:28] bduplanty opened #1291 "Ability to search with multiple "-contains" entries"
## Feature Request

### Use Case/Motivation
Currently, you can search for entries with -contains and only a singular -contains statement.
- works: jrnl -contains foo
- does not work: jrnl -contains foo -and -contains bar
- does not work: jrnl -contains foo -contains bar  (assumed -or between the contains statements)

### Example Usage
Allow multiple keywords or phrases to be used to limit search r

[2021-07-07 01:39] Serif-7 opened #1292 "Best way to concatenate jrnls?"
Let's say I make a new jrnl and want to import older entries. Is the best way to do this just `cat jrnl1 jrnl2 > jrnl_main.txt`? I notice there's no break between the old and new entries. Since it's just text, I can just edit it and add it in right? The parsing doesn't do any weird stuff that might mess that up?

[2021-07-07 02:00] viegasfh opened #1293 "Exception when providing folder name of folder that does not exist as journal path"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
  - Install method:
jrnl: v2.8.1
Python: 3.8.5 (default, May 27 2021, 13:30:53)
[GCC 9.3.0]
OS: Linux 4.4.0-19041-Microsoft
### Current Behavior

When providing a folder name as opposed to a file name in the journals configuration, I get an IsDirectoryException.

### Expected Behavior

Although the documentation does not provide exampl

[2021-07-07 02:03] viegasfh commented on #1292
Yes, it should work as long as you have the journal structure

[date time] Title goes here
Body

That's the format for each entry as I have found. Now, if you have defined XML, JSON or Markdown, then it has a different structure. Experiment with the --export parameter and you should learn more about it.

[2021-07-07 02:22] Serif-7 commented on #1292
I lost some entries after using my command... note to anybody finding this issue, back up your jrnls.

[2021-07-07 03:20] Serif-7 opened #1294 "How to delete duplicate entries?"
Somehow, several entries in my jrnl have been duplicated, so now there are three of each entry, all write next to each other with the same timestamp.

Is there a simple way to select and delete duplicate entries via `--delete` or some other method like `sed`?

[2021-07-07 04:19] Serif-7 commented on #1294
`awk '!seen[$0]++' file.txt > file_new.txt` works well I've found, though it deletes the blank lines between entries. For fixing that that I've found
`sed "s#\[#\n[#g" file.txt > file_spaced.txt` works.

[2021-07-07 06:47] viegasfh commented on #1292
You should have used >> to concatenate. > wipes the existing file.

[2021-07-07 16:00] samuelgregorovic commented on #1203
@wren do you mean the `jrnl/__version__.py` ? i could do it via github action. concerning the running from source problem, do you have any ideas how we could manage this?

[2021-07-08 06:02] wren commented on #1292
jrnl has an import command for this. So, you can pipe the entire file you are trying to concatenate to `jrnl --import` and it will do what you expect (e.g. `cat myfile.txt | jrnl --import`). The advantage of this approach over concatenating the journal files directly is that jrnl will de-dupe incoming entries for you.

That's fine if you want to import from a file, but as you mention above, you're

[2021-07-08 06:14] wren commented on #1294
Although we don't have an explicit command to find dupes (maybe we should?), you can use jrnl's import command for this.

1. Move your journal file (let's say `jrnl.txt`) to something else (like `jrnl-backup.txt` or anything you want)
2. Import the backup into the (now empty) journal: `cat jrnl-backup.txt | jrnl --import`
3. jrnl will recreate `jrnl.txt` and dedupe the entries as they're being imp

[2021-07-08 06:24] wren commented on #1291
This is a great suggestion. Thank you!

[2021-07-08 06:34] wren commented on #1289
This is a very good question, and I'm afraid there's not a good answer right now. The directory-based storage format for jrnl is currently very rigid in its structure, and that means there's no good way to change the file extension (or the directory structure) right now.

One thing that might help, depending on what you're looking for, is to add a template with a `.md` file extension (i.e. add `te

[2021-07-08 06:45] wren commented on #1203
Yup! That's the file. I'm not sure what this should look like, though. I was thinking that the version in source might look something like `v2.8-source-12` maybe? The number at the end would be how many commits since that version.

Another idea would be to use a nightly build sort of versioning the source.

Or maybe we introduce a second variable alongside `__version__`. Something to store where j

[2021-07-08 06:58] wren commented on #1293
I was genuinely surprised to hear that we don't mention directory-based journals in the docs. 🤦

We should definitely add that. Thanks for pointing this out!

And we should have an established way to let jrnl know you want a directory journal other than creating the directory up front. I think ending with a slash seems like a reasonable heuristic. What do you think @micahellison?

[2021-07-08 07:22] wren commented on #1006
TIL about `setattr`. Thank you!

But--and maybe I'm reading your suggestion wrong--wouldn't putting `import jrnl` anywhere inside the jrnl module itself cause a circular dependency?

I agree we don't want  third-party plugins hooking into the jrnl version. In that case, wouldn't we want to avoid showing them how to do it in the first place?

I personally don't think not having a version is a big d

[2021-07-08 11:44] viegasfh commented on #1293
Hi, @wren !

The docs does mention that it supports multiple files. However, doesn't provide any example. All the examples are based on a single file.

If you don't add the / at the end and there isn't a folder with that name, jrnl treats as a file and creates it. When this happens, you don't get any exception. The exception only happens when it creates the directory and then tries to interpret it

[2021-07-08 11:55] viegasfh commented on #1292
Hi again, @wren!

The import feature also has a bug. If you are working with single file journals, the import works perfectly. But, if your target journal is a directory it just says that the files were imported to the default journal, but nothing gets really imported.

To reproduce this, you can do the following:

1. Create a folder for your journal
2. Add your folder journal to the config file
3

[2021-07-08 15:15] wren commented on #1292
@viegasfh I see you've run into #999.

In the past our test suite didn't really have any coverage for storage formats other than the default "onefile" format. We've been updating our testing to have full coverage for all storage formats, and are finding that some of the other formats (especially the directory-based format) have some bugs we never knew about.

Sorry about that! We're prioritizing b

[2021-07-08 19:06] viegasfh commented on #1292
Hi, @wren !

Yes, I did. Thanks for noticing!

Don't worry about the bugs. I believe not many people bothered with the directory journals. I like it, because that's how I have been doing it by hand. In addition that's what was making me choose between Journal-Cli and Jrnl. Initially I began with Journal-Cli, but I then opted for the single file. When looking into the code, I was quite surprised th

[2021-07-09 01:13] Serif-7 opened #1295 "Will adding arbitrary text to jrnls break anything?"
I have a very long jrnl with only ASCII characters, but some entries are just text I inserted in. Will this break anything? In what situations does jrnl rely on the formatting, besides searching?

[2021-07-09 04:52] minchinweb commented on #1006
Surprisingly no. Maybe this is because it's an explicit import? The one place you can't put it is in the `__version__.py` file itself, as somewhere after that file is imported, the reference is still to the module. So taking it a step further, #1296 just overrides the module!

I suppose my logic was that by showing them that a version is defined, they'll know they need to provide one. But a guess

[2021-07-09 13:46] minchinweb commented on #1263
This is because (under the current code base), `display_format` runs an exporter under the hood, but "short" and "pretty" aren't defined as exporters, but a CLI switches that call specialized "print" functions of the `Journal` class.

#1216 (among many other things) fixes this by dropping the special cases of "short" and "pretty" and promoting them from "only" CLI switches to "proper" exporters. M

[2021-07-09 22:01] Serif-7 commented on #1292
@wren this is a lot of great information! Thanks.

[2021-07-09 22:17] Serif-7 commented on #1294
@wren alright, I'm running into weird behavior now. I... don't know when this happened, but I checked my journal and some entries were duplicated, even after I explicitly removed them using the commands I listed. Then I tried your methods, and it did remove some dupes, but the ones that were duplicated still had a single duplicated entry alongside them.

This one might require some investigation o

[2021-07-10 01:25] wren commented on #1292
It sounds like the original question is answered, so I'm going to close this. But please feel free to comment if there's anything else

[2021-07-10 01:25] #1292 closed, assigned to nobody

[2021-07-10 17:28] micahellison commented on #1293
I like the notion of jrnl being able to identify directory journals by a slash at the end. We should be sure to check for both forward and back slashes to ensure it works for Windows users.

[2021-07-10 17:39] micahellison commented on #1295
Hi @Alekhine51, the only real delimiter in jrnl is a new line starting with [ and followed by some digits. It's used to identify the date. So you should be able to do add anything else without messing with the structure of your journal entries.

That said, if you're editing your journal directly, I still recommend backing it up before doing so, just in case.

[2021-07-10 17:40] #1295 closed, assigned to nobody

[2021-07-10 18:07] micahellison commented on #995
It does work on non-default journals, but it doesn't work on directory journals. We have a bug filed for this in #999.

[2021-07-10 19:13] #1270 closed, assigned to nobody

[2021-07-10 22:02] micahellison opened #1300 "Separate out reference documentation for command line arguments and config file"
## Documentation Change

jrnl's documentation is somewhat incomplete but also a bit inconsistent in its approach. We get a fair amount of issues that I think are more about the problems with the docs than the program itself.

Lots of mature software projects tend to divide up documentation into four main areas:

* Tutorials - "getting started" and other quick introductions to the app with a little

[2021-07-11 10:03] samuelgregorovic commented on #1203
@wren so, for example, if we would use commit prefix in version, the github action would be incrementing the patch portion of the version number, which would also contain the `source` prefix?

if pull request is merged into the `develop` branch, and current content of `__version__.py` file in `develop` is e.x. `__version__ = "v2.8.1"`, then after the merge the content would change to `__version__

[2021-07-16 01:43] belibug opened #1303 "Pass password through config or environment secret"
## Support Request

### Environment

  - Jrnl `--diagnostic` output:

jrnl: v2.8.1
Python: 3.8.10 (default, Jun  2 2021, 10:49:15)
[GCC 9.4.0]
OS: Linux 5.4.0-77-generic

  - Install method:

Pipx

### What are you trying to do?

I have jrnl file that is encrypted that i want to access programmatically. How do i pass password as argument or secret in environment variable or some other method witho

[2021-07-17 18:11] micahellison commented on #1303
We don't have something like this right now, but we're interested in implementing this.

However, storing the password in an environment variable seems a little problematic from a security standpoint. We're thinking instead that we might want to store a password retrieval command in an environment variable, such as `JRNL_PASSWORD_COMMAND`. Then you would be able to use whatever secrets method you

[2021-07-17 18:43] wren commented on #1203
@samuelgregorovic I'm not really sure what we want to do for this right now. We should gather ideas in discussion #1305  before starting on this.

[2021-07-17 19:00] wren commented on #1274
@musicinmybrain What do you think? Are you still potentially up for helping write a man page?

[2021-07-17 19:02] #1284 closed, assigned to micahellison, wren

[2021-07-17 20:22] #1142 closed, assigned to nobody

[2021-07-17 20:50] samuelgregorovic commented on #1203
okay. i agree

[2021-07-17 22:40] wren commented on #883
And again for anyone coming here from old links: jrnl has since been added to the official package repo (https://archlinux.org/packages/community/any/jrnl/), so you should be able to install jrnl not from AUR. But please file an issue if you have any problems!

[2021-07-19 14:28] musicinmybrain commented on #1274
Sure, I’m still willing to help. It does seem like you are still deciding exactly what you want to do, and how you want to do it.

[2021-07-22 21:42] jwheeler88 opened #1308 "When adding an entry for today's date, numerous additional entries containing random text are added."
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
jrnl: v2.8.1
Python: 3.9.6 (tags/v3.9.6:db3ff76, Jun 28 2021, 15:26:21) [MSC v.1929 64 bit (AMD64)]
OS: Windows 10
- Install method: `pipx`
- Running in: `PowerShell 7.1.3` and `Windows Terminal 1.8.1521.0`
### Current Behavior

When adding an entry for today's date, `jrnl` will add both the entry I typed along with numerous additional

[2021-07-23 03:47] micahellison commented on #1308
Hi there, thanks for reporting this. I'm not able to reproduce anything quite like this in PowerShell with the Windows Terminal, and I'm wondering if there is something happening that is unique to your PowerShell sessions.

It looks like it is piping text into jrnl, which is something that jrnl can accept, though I don't know why it would be doing that while you are also creating a new entry with

[2021-07-23 17:47] jwheeler88 commented on #1308
Hi, thanks for the help!

Just tried running the same test in Windows command prompt (separate from Windows Terminal even) and still get the same result.

[2021-07-24 17:14] micahellison commented on #1308
Sorry that didn't work. I'm mystified by this problem.

I'm looking through your initial bug report and I see you're using a directory for your journal -- specifically, your Documents folder. We have some issues with directory-based journals, though they are the opposite of what you're experiencing -- failing to import (#999), rather than importing unexpected data. I also wonder if there is other

[2021-07-27 17:56] jwheeler88 commented on #1308
Ahh, I wasn't aware I was working out of a directory-based journal; I had assumed when I gave it the path to the directory that it would then create a journal file and work out of that. But it makes more sense that a user would like to configure the name of the journal as well.

After working from a `Documents\journal.txt` it works correctly now. I also noticed that I was never prompted for encryp

[2021-07-31 18:19] wren commented on #1046
@xeruf I'm sorry! This issue fell through the cracks (I lost track of it in my flood of Github notifications). It's reopened now and pinned so it won't stale again.

[2021-07-31 18:26] micahellison commented on #1308
Glad to help! Thanks for reporting back. I'm going to close this since the directory journal bug is documented elsewhere and we can't figure out how to repro the strange PowerShell help issue, but if ever anyone does figure it out, feel free to chime in.

[2021-07-31 18:26] #1308 closed, assigned to nobody

[2021-07-31 18:55] micahellison commented on #1273
Closing this since the solution to #1270 works, and it's fine for us to have to manually to change a little CI configuration once a year or two to support the next Python version.

[2021-07-31 18:55] #1273 closed, assigned to nobody

[2021-07-31 19:02] #1006 closed, assigned to nobody

[2021-07-31 19:15] #1294 closed, assigned to nobody

[2021-07-31 19:36] micahellison opened #1312 "Allow levels of verbose output"
## Feature Request

### Use Case/Motivation

We have a `--debug` flag that can be useful for troubleshooting, but it seems like there is an interest in having different levels of output that might fall in between jrnl's default output and its `--debug` output. We may also want an output level that's even more verbose than `--debug`.

To deal with this, we could have a verbose argument that specifi

[2021-07-31 19:37] micahellison commented on #1253
I'm closing this and spinning off the verbose output idea to #1312.

[2021-07-31 19:37] #1253 closed, assigned to nobody

[2021-07-31 21:17] wren commented on #1274
Okay, so I did research and testing (and found [this guide](https://eddieantonio.ca/blog/2015/12/18/authoring-manpages-in-markdown-with-pandoc/) very useful).

We should do the following tasks (and they can all be separate PRs by different people):

1. **Write the source file for the man page**
    - Written in markdown format
    - Stored at `docs/man.md`
2. **Generate man pages from source file*

[2021-08-03 17:44] viegasfh opened #1316 "Entries from directory based journals do not get deleted"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
  - Install method:
jrnl: v2.8.1
Python: 3.8.10 (default, Jun  2 2021, 10:49:15)
[GCC 9.4.0]
OS: Linux 4.4.0-19041-Microsoft

Installed using pip

### Current Behavior

Today I added an entry to one of my directory journals by mistake and when I tried to delete the entry, it was just not deleting it.

### Expected Behavior

When runnin

[2021-08-03 18:17] viegasfh commented on #1235
To be honest, initially I kind of wanted to be able to discard the timestamps, but I found many instances where the timestamp is useful. If we could configure it to disable the timestamp, I may use it.

However, the proposal for task management, I agree with others. You alread have "topydo" for that. It does a pretty good job at it. It uses the Getting Things Done methodology in plain text. That's

[2021-08-06 21:26] siimpragi commented on #998
After installation (during jrnl set up) I was a bit tripped up by `~` not being expanded as well. I manually set the default journal file as `~/journal.txt` but it was created in the current working directory instead. No biggie, but maybe the prompt message should be more clear since [`os.path.abspath(path)` is used](https://github.com/jrnl-org/jrnl/blob/b23c831da5b20122791279614b10e5a365dd18d9/jr

[2021-08-08 01:27] viegasfh commented on #1316
Just wanted to add that if we edit the entry and delete it from the text editor, it does get deleted from the journal. That is,

If you do the following steps:

1. Add entry to journal: jrnl two Test Entry. This is the body of the entry
2. jrnl two -n 1 --edit
3. Remove the date with timestamp, title and body of the entry and then save
4. jrnl two --export short
5. The entry shouldn't be there any

[2021-08-11 20:22] IosiaLectus opened #1317 "'jrnl -n X' gives 'ValueError: invalid literal for int() with base 10:'"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
 jrnl: v2.7
Python: 3.8.10 (default, Jun  2 2021, 10:49:15)
[GCC 9.4.0]
OS: Linux 5.8.0-63-generic
  - Install method:  pipx

### Current Behavior

After an entry,  'jrnl -n 1' returned "ValueError: invalid literal for int() with base 10: '?2004h\x1b[?1049h\x1b[22'". I made another entry after that, and afterwards 'jrnl -n 1' acts as e

[2021-08-17 01:40] micahellison commented on #1235
Yes, it does. It's what I use, actually. And even without using markdown as a "format", one could still journal in markdown just fine without any issues with the jrnl data format.

[2021-08-17 01:46] micahellison commented on #1316
Thanks for filing this bug, and for commenting on the workaround. I just verified the workaround works for me as well (jrnl v2.8.2).

[2021-08-17 01:59] micahellison commented on #1317
Hi there, thanks for reporting this. Would you mind opening the journal text file directly with a text editor and copy-pasting the entry that's causing this error? It looks like this might due to something in the way jrnl tries to identify dates in journal entries, but I can't tell without seeing the source data. It would be extra helpful if you're willing to poke at the entry a bit and narrow it

[2021-08-17 02:37] micahellison opened #1321 "Python 3.10 build action is failing on poetry dependency installation"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
  - Install method:

### Current Behavior

In the "Install dependencies (Prerelease)" section, it's failing here:
[code]

The failures are failing the whole job and it probably shouldn't, since Python 3.10 stable has not been released yet.

### Expected Behavior

### Repro Steps

### Other Information

[2021-08-17 02:46] #1321 closed, assigned to nobody

[2021-08-17 04:04] micahellison opened #1323 "Windows CI behaving unreliable due to mismatch between Powershell & bash retrieving environment variables"
## Bug Report

Noticed this with the [mysterious Windows successful jobs on the tzlocal bump pr](https://github.com/jrnl-org/jrnl/pull/1319/checks?check_run_id=3346438176). It turns out that PowerShell and bash have [two different ways of retrieving environment variables](https://stackoverflow.com/questions/66733076/github-actions-set-environment-variable-for-windows-build-with-powershell), and Po

[2021-08-20 15:05] viegasfh commented on #1235
Exactly! I love the jrnl data format. Simple and effective.

[2021-08-20 15:07] viegasfh commented on #1316
Great! The workaround has been working for me. It is more work, but it works until you guys get it fixed.

[2021-08-21 19:08] #1323 closed, assigned to nobody

[2021-08-21 20:44] micahellison opened #1326 "Document folder journal and DayOne journal types"
## Documentation Change

I don't see documentation about the folder journal and DayOne journal types.

### Affected Page(s)

Maybe this should be a new section?

### What Could Be Better?

It would be good to document:
- [x] the methods jrnl uses to identify journal types
- [x] folder journals and DayOne journals can't be encrypted
- [x] the path/filename structure of the folder journal

### Other

[2021-08-21 20:46] #1243 closed, assigned to micahellison

[2021-08-21 21:42] #999 closed, assigned to micahellison

[2021-08-21 21:43] #1162 closed, assigned to nobody

[2021-08-26 11:54] viegasfh opened #1330 "Import From Text File Being Treated as Single Entry"
## Bug Report

### Environment
[code]
This has been upgraded from v2.8.1 using pip.

### Current Behavior

When trying to import from a text file with the **jrnl** *txt format*, **jrnl** is adding the current timestamp to the first entry. It is treating the whole text file as a single entry and adds the timestamp at the beginning of the file.

### Expected Behavior

Importing from a text file that

[2021-08-26 12:22] viegasfh commented on #1330
I have tried the same with the *text* format (with square brackets around the timestamp), and the result is the same. However, there is another issue I have just found. That is, if we import the text file to a new journal and then try to edit it to fix the timestamp or anything else, when saving it wipes out all the other entries, leaving only the first entry.

That is, just repeat the steps outli

[2021-08-27 18:24] viegasfh commented on #1326
I wish this documentation was there when I started using jrnl. It was all trial and error and looking at the source code. So, thumbs up to this addition to the documentation.

I agree with you on creating a separate section for this.

[2021-08-28 19:16] micahellison commented on #1330
Hi there, thanks for reporting all this. There a couple things to unpack here, but the main thing is: if you want to import data as jrnl entries, it's best to use the `--import` argument. When you pipe in text without it, jrnl interprets that text as a new entry (hence the bonus timestamp at the top of your journal). I see the documentation, while not incorrect, kind of elides this. I think that w

[2021-08-28 19:19] micahellison commented on #1330
I'm closing this issue because the actions we'll take on it are filed elsewhere, but feel free to comment back if you have any questions or want any clarification.

[2021-08-28 19:19] #1330 closed, assigned to nobody

[2021-08-28 20:00] viegasfh commented on #1330
Hi @micahellison ! Thanks for your reply!

I have tried the what you proposed and it is indeed working. I don't know how I was getting the date without the brackets. Maybe it was in the previous version before I upgraded to the latest version.

I had actually tried the --import before, so I think I mixed it up somehow with the file redirection.

So, it is all sorted.

Thanks once again and I guess

[2021-08-28 20:18] #1316 closed, assigned to nobody

[2021-09-06 15:17] viegasfh opened #1335 "Rendering Markdown With a Formatted and Syntax Highlighted View"
## Documentation Change

### Affected Page(s)

  - https://jrnl.sh/en/stable/recipes/

### What Could Be Better?

Many of Jrnl users render their output as Markdown, and when using the option --format md, we don't get a formatted and syntax highlighted view of output. I am proposing this as a feature, but at the moment there is a workaround using an external tool through piping. There are a few of

[2021-09-06 18:12] micahellison commented on #1317
Closing this for now. Feel free to comment if you're still running into this.

[2021-09-06 18:12] #1317 closed, assigned to nobody

[2021-09-06 18:17] micahellison commented on #1335
Thanks for submitting this. I think this would be welcome in the recipes docs. Would you like to make a pull request for this?

[2021-09-06 18:18] wren commented on #1235
Ok, sounds like this is working for everyone. I'm closing this, but feel free to comment if there's still anything to do here.

[2021-09-06 18:18] #1235 closed, assigned to nobody

[2021-09-06 18:37] micahellison commented on #998
Thanks @siimpragi for reporting this issue in the new journal path.

To recap, a resolution to this bug should include the following:
- [ ] create a simple function for expanding paths
- [ ] modify current ~ expansion code to use that function
- [ ] fix ~ in the template paths
- [ ] fix ~ in the new journal path
- [ ] review code for other paths and fix them as necessary

[2021-09-06 18:56] micahellison commented on #813
I'm not sure the templates have ever worked -- they certainly haven't in the last two years that I've been working on this project. However, we're planning on implementing similar functionality through plugins instead of templates (see #1239) so I am closing this issue.

[2021-09-06 18:56] #813 closed

[2021-09-06 19:11] micahellison commented on #441
It sounds like we'd have to drive this through a config field like the OP mentioned, or else it would be a breaking change -- for instance, if someone ends sentences with a "@vacation" tag, a change to this behavior might lead to other tags that include "@vacation." and "@vacation," when the user really only wanted the one tag.

[2021-09-06 21:09] viegasfh commented on #1335
Certainly! I will add it to the recipes doc and then I'll make a pull request and wait for suggestions for improvement in case you find it needs to.

[2021-09-07 02:34] paanvaannd commented on #170
Hey, folks! Sorry for the thread necromancy and thank you all for the work on this.

I just started using `jrnl` and want to enable this feature but I can't seem to find documentation on how to do this. Is there something I need to add to `jrnl.yaml` for this?

After enabling this feature, will `jrnl` retroactively split my monolithic file into different entries in the above subdirectory structure

[2021-09-08 00:29] micahellison commented on #170
Hi there @paanvaannd, thanks for posting about this. We're working on a docs change to address this problem (pr #1331, preview [here](https://jrnl--1331.org.readthedocs.build/en/1331/journal-types/)), though your comment makes me realize we should have instructions on how to migrate a single file journal to a folder journal.

To start with your last question: no, jrnl won't retroactively work on y

[2021-09-08 15:12] darkpixel opened #1336 ""jrnlsh" similar to "tasksh" in TaskWarrior?"
## Feature Request
I would love to see a jrnl script sorta like 'tasksh' from taskwarrior.
In tasksh, I can just type "add blah" or "list" or "done 5".
In my imaginary 'jrnlsh', I could simply start typing "I worked on xyzproject" or "Received a phone call" and it would automatically add a journal entry.
If it were an ncurses-like interface, it could automatically 'refresh' and display ```jrnl -fr

[2021-09-08 15:40] micahellison commented on #1336
Hi there @darkpixel, thanks for filing this. I can imagine that having an interactive mode like this would be very useful.

It could be extra useful for people with multiple journals if it could "open" a journal in your session then treat it as the default journal for the rest of the session:
[code]

As far as implementation goes, I think the most pressing question is: should it be built into jrnl

[2021-09-08 15:46] darkpixel commented on #1336
I think if ```jrnlsh``` were an external tool and was just making a few simple calls to ```jrnl``` it wouldn't be that difficult to manage version differences.  While I haven't been using ```jrnl``` for very long, I'm guessing the basic syntax for adding, editing, and deleting entries hasn't changed much.  Maybe I'll take a stab at stubbing something out.

[2021-09-08 16:12] darkpixel commented on #1336
Here's an extremely simple example:
https://github.com/darkpixel/jrnlsh

[2021-09-08 20:12] darkpixel commented on #1336
Packaged it up and published it.
```pip install jrnlsh```

[2021-09-10 21:36] viegasfh commented on #1336
This is an interesting idea. To have a jrnl shell sort of tool. I work mainly with vim for editing my journal entries, so interactive would be more useful for querying for me. But it I could launch vim from this tool and then vim return control to this jrnlsh, I'd probably use it.

[2021-09-10 22:28] darkpixel commented on #1336
Maybe I'm misunderstanding @viegasfh, but it does that already if you type ```edit```, although it can probably use some improvement, like limiting it to just today's entries.

Or are you talking about when you just type ```jrnl``` and get vi for creating a new entry?

[2021-09-10 22:47] viegasfh commented on #1336
Sorry, @darkpixel ! I missed that part. You even described it in the Example usage, but somehow I totally missed it. Sorry for misinterpretation.

I have installed it and will try to play around with it whenever I have time.

Thanks for sharing it!

[2021-09-11 20:50] micahellison commented on #1336
Very cool! I'm going to close this issue, but feel free to comment back here when it's more stable or if you have any more questions about jrnl as you work on it.

[2021-09-11 20:50] #1336 closed, assigned to nobody

[2021-09-11 21:16] micahellison commented on #1300
When this issue is complete, I think it will resolve #995 as well.

[2021-09-11 23:18] micahellison opened #1338 "Support tzlocal v4"
## Feature Request

We use [tzlocal](https://pypi.org/project/tzlocal/) for some time-related logic in the DayOne class. v3.0 came out recently (as seen in #1319) but it breaks our tests. [I commented on the PR with a little research as to why](https://github.com/jrnl-org/jrnl/pull/1319#issuecomment-903180040).
Update: tzlocal has already moved up to v4.1, however it's still failing here: #1369.

[2021-09-11 23:37] micahellison opened #1340 "Make documentation for package maintainers"
## Documentation Change

[There are a handful of package repositories that use jrnl](https://repology.org/project/jrnl/versions). It would be nice to have some resources for their maintainers, and for future maintainers as the ecosystem evolves.

### Affected Page(s)

Would be a new page.

### What Could Be Better?

Some thoughts on what to include:

- [ ] recommendation for isolated environments

[2021-09-12 20:09] darkpixel commented on #1336
No worries @viegasfh!  Hopefully it works well for you.

Thanks @micahellison!

[2021-09-12 22:09] tsaber opened #1341 "Whenever I delete a German character (ä,ö,ü,ß) I get this error"
Bug

### Environment:
[code]
installed via pip3

### Current Behavior:
[code]

### Expected Behavior:
[code]

### Repro Steps

[code]
Write a couple of German letters, and delete one of them. If you don't delete one of them it works just fine.

[2021-09-14 01:19] micahellison commented on #1341
Hi there @tsaber, thanks for reporting this. I'm having a hard time reproducing this, though I do have a slightly different environment than you:
[code]
Would you mind also sharing which shell you're using? I think this part of jrnl might behave different depending on that.

Also, this question might sound strange, but: does it still work when you press backspace 2, 4, or 6 times, rather than 1, 3

[2021-09-18 23:26] #1326 closed, assigned to micahellison

[2021-09-25 18:06] micahellison commented on #1341
I'm closing this for now, but feel free to comment if you have more info. Anyone else with this problem is also encouraged to chime in.

[2021-09-25 18:06] #1341 closed, assigned to nobody

[2021-09-25 18:26] wren commented on #1203
Closing this because it's seems like way more trouble than it's worth. If anyone comes up with an elegant solution, please let us know, and I'd be happy to reopen.

[2021-09-25 18:26] #1203 closed, assigned to nobody

[2021-09-26 21:44] viegasfh commented on #1335
@micahellison , I have already added this to the documentation, but then got a little busy and forgot to ask you about the inclusion of images. Do you have any guidelines with regards to using images (screenshots in this case). I have already used code blocks where I could, but the rendered Markdown I can't show the example without an image screenshot.

What do you suggest? This way I finish and m

[2021-10-02 19:14] micahellison commented on #1335
Hi @viegasfh, I think keeping it short without an image might be best. We don't have visual examples for other examples involving piping, like the grep example at the top of the page. However, linking to the mdless project would definitely be nice -- people can see an example of how it works relatively easily from its readme.

[2021-10-03 19:26] viegasfh commented on #1335
Hi, @micahellison ! Thanks for the feedback. I had done that already, but thought that perhaps add a screenshot would make it clear. I will re-edit and then make the pull request.

Thanks!

[2021-10-07 19:22] xeruf commented on #858
btw, the timestamp format is fully compatible with org-mode and org also highlights the tags, so it is quite handy to use that as major-mode there

[2021-10-09 20:05] micahellison opened #1349 "Fix nested navigation styling on docs site"
## Documentation Change

The navbar feels a little hard to read when you click deep enough into it. I found this while working on #1266. See the low-contrast white-on-gray here:
![image](https://user-images.githubusercontent.com/4383304/136672480-eff8ec02-bbf8-407a-a5f6-d1fcd8b79b04.png)

[2021-10-11 08:00] zapateo opened #1350 "'-not -contains x' raises an AttributeError exception"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method:  pipx

### Current Behavior
`jrnl` raises an AttributeError exception

### Expected Behavior

jrnl should not raise an exception; it should print query results or print an error in case of `-not -contains x` syntax is wrong.

### Repro Steps

This can be reproduced by running:

[code]

The stack trace below i

[2021-10-12 10:35] DSiekmeier opened #1352 "Color settings not applied to every display format"
## Bug Report

### Environment
[code]
  - Install method: via pipx

### Current Behavior
I set a color for the date, which works fine for the formats `pretty` and `short`. Using the format `fancy` the color is not applied.

### Expected Behavior
Color should be applied for all display formats.

### Repro Steps
Change the setting "colos / date" to BLUE. Ececute the commands below to see the differe

[2021-10-12 10:42] DSiekmeier opened #1353 "jrnl doesn't use OS's locale settings when displaying time"
## Support Request

### Environment
[code]

### What are you trying to do?
Coming from Germany, I would like to see the locale’s full weekday name as described [here](https://docs.python.org/3/library/time.html#time.strftime). So on Fridays, the output should be "Freitag".

### What have you tried?
Setting the configuration string to `timeformat: '%A %d-%m-%Y %H:%M'` did not change the language as

[2021-10-16 19:06] wren commented on #1353
Hi, @DSiekmeier. We haven't had many users from other locales, so thank you for filing this issue!

After some testing, it looks like we don't get the system locale properly in jrnl, so this is definitely a bug.

Luckily, it looks like it's a pretty easy fix. We just need to add this somewhere:
[code]

I think we should also add support for a `locale` value in the config value just in case anyone

[2021-10-16 19:21] micahellison commented on #1184
I'm thinking about this issue as I look at #1352 -- it would be very nice to have color completely separated from the data access / data representation classes.

[2021-10-16 19:26] micahellison commented on #1352
Thanks for filing this. It would be nice to have these colors set more consistently.

A fix for this would ideally set the settings for all display formats, and would be aware of whether or not jrnl is piping out to another program, so it could toggle color settings appropriately.

[2021-10-16 19:54] micahellison opened #1357 "Add more natural-sounding search parameters"
## Feature Request

### Use Case/Motivation

Our search parameters are a little stilted and hard to work with. It's easy to make assumptions about their behavior, then jarring to see that they don't behave quite that way (for instance #1350). It could be nice to have a search feature that feels a bit more like a web search engine or a SQL WHERE clause.

### Example Usage

Maybe a short argument li

[2021-10-16 22:21] #1180 closed, assigned to micahellison

[2021-10-18 02:32] piero-vic opened #1358 "jrnl --encrypt doesn't prompt me for password change"
## Bug Report

### Environment
[code]
  - Install method: via homebrew

### Current Behavior
`jrnl --encrypt` doesn't change the password of an encrypted journal. It prompts me for the current password but doesn't prompt for a new one.

### Expected Behavior
As the [documentation states](https://github.com/jrnl-org/jrnl/blob/54c9a058df97ced8f2f07d11cba155af25a86446/docs/encryption.md?plain=1#L24-L

[2021-10-23 14:56] piero-vic commented on #1198
Hi.
I think I've find the root of the problem.
It's on `jrnl.py`. Right here.
https://github.com/jrnl-org/jrnl/blob/44edb9bdee0f0bcd7f8000039c3eeeb3850e9718/jrnl/jrnl.py#L276-L296
I'm new to Python and open source but I think I can fix it. Can I work on this issue?

[2021-10-23 18:39] micahellison commented on #1358
Thanks for filing this. I've reproduced this on my machine on well.

A resolution to this should:
- [ ] fix the issue
- [ ] include a BDD test for this use case

[2021-10-23 18:44] micahellison commented on #1198
Yes please, feel free to submit a PR and let us know if you have any questions!

I think to fully resolve this issue, a resolution should:
- [ ] fix the bug
- [ ] test for this in BDD (let us know if you need help)
  - [ ] this should include scenarios for all journal types (regular, directory, encrypted, DayOne)

[2021-10-23 21:44] micahellison opened #1361 "Use tox"
We're thinking about using [tox](https://tox.wiki/en/latest/index.html) for configuration and possibly simplifying our GitHub Actions pipelines. Switching to it could fix a few pain points:

* quickly testing locally on a variety of Python versions
* being able to test both locally and on GitHub Actions with mostly the same code
* possibly being able to sidestep some environment/syntax issues we'v

[2021-10-24 21:16] kdhingra307 opened #1363 "Searching Multiple Journal Files"
## Support Request
Hello, thank you for creating such useful application, I was trying to search for specific tag on multiple journal files but was not able to. Even after searching through the documentation and issues, I could not find anything which can help me with that. I would also be open to contribute if this feature has not been implemented yet.

### Environment

  - Jrnl `--diagnostic` ou

[2021-10-25 17:51] musicinmybrain opened #1364 "Support pytest-bdd 5"
## Bug Report

### Environment

I’m the maintainer of the `jrnl` and `python-pytest-bdd` packages in Fedora Linux. This report is independent of environment.

### Current Behavior

Version 5.0.0 of `pytest-bdd` was released today. Some small adjustments will be required to support it; upstream has published a [migration guide](https://github.com/pytest-dev/pytest-bdd/tree/5.0.0#migration-of-your-t

[2021-10-26 02:12] musicinmybrain commented on #1364
That turned out to be surprisingly simple. I only needed to add one line, and I was able to keep backwards compatibility with `pytest-bdd` 4.x.

[2021-10-26 17:57] DSiekmeier commented on #1353
Sounds good to me.

One might think a little bit about consistency. For example, if jrnl is started the first time, right now a default (english; mm-dd-yyy) format string is used. If the format string in the config will be changed after a few entries to a german one (dd-mm-yyyy), will the entries still be sorted correctly? Or in other words: are the timestamps in the jrnl file independent of the s

[2021-10-28 15:48] tsaber commented on #1341
this is in zsh
I'm sorry I totally forgot about this.
Since then I updated jrnl and python and it somehow broke  encryption in my jrnl.

[code]

I think I can't reproduce until I have fixed this.

[2021-10-29 01:42] micahellison commented on #1341
HI @tsaber, no worries. From your traceback, it looks like the problem is that you're running the outdated jrnl version 2.0.1 (instead of latest 2.8.3) on Python 2.7 (the latest versions of jrnl all require Python 3.7+).

[2021-10-29 08:16] tsaber commented on #1341
@micahellison
thanks for the reply.
I now have the latest python and the latest jrnl. I had it installed both via sudo pip and pip and that mucked it all up. I fixed it since then but it still happens. Your guess was correct:

I tested it with pressing backspace odd and even times and it does indeed make the difference.

![githubtest](https://user-images.githubusercontent.com/9378902/139400415-15b

[2021-10-29 20:10] tsaber commented on #1341
same thing with bash
![image](https://user-images.githubusercontent.com/9378902/139495709-8191c75b-c12d-4f58-9f4a-d46c74159a43.png)

and with fish
![image](https://user-images.githubusercontent.com/9378902/139495898-83ba9ead-febe-4807-a8eb-6d87351cb9df.png)

[2021-11-06 19:53] micahellison commented on #1363
Hi there @kdhingra307, thanks for filing this. Unfortunately, no it's not possible, currently.

A long time ago, someone filed an issue for this in #340 and it has turned out to be a bit more complicated than it originally seemed. I'll document some of the complications in it, though you are still welcome to contribute if you are willing to take them on.

[2021-11-06 19:53] #1363 closed, assigned to nobody

[2021-11-06 19:58] micahellison commented on #340
Just wanted to document some complications to figure out when resolving this:

- showing which journal each entry came from
- entry order - showing everything from each journal, or interleaving the entries?
- running in conjunction with other arguments:
  - what about --edit? Should jrnl just display an error?
  - what about --delete?
  - what about each display format?
  - is there anything else

[2021-11-06 20:11] micahellison commented on #1341
Hi @tsaber, thanks for all this info. I still can't figure out how to reproduce this on my end. I see from the top of this issue that you're probably using WSL - what terminal emulator are you using? e.g. cmd.exe, Windows Terminal, PowerShell, etc.?

Also, in your shell, could you run `locale` and paste the output here? That could affect the way Python interprets these characters.

[2021-11-06 20:20] micahellison commented on #1353
This is a great question, and one we've struggled with for some time. It's already problematic enough that a user could just change the format string without modifying the journal entry, therefore messing with all the timestamps in their journal. What we hope to do in the long run is completely separate storage formats from display formats, so that we use rigid timestamps to get around this.

For

[2021-11-06 20:30] #1364 closed, assigned to nobody

[2021-11-06 21:12] #1170 closed, assigned to nobody

[2021-11-06 21:18] micahellison opened #1371 "Support Python 3.11"
## Feature Request

Python 3.11 is in alpha right now, but we should start supporting it once it's in beta so we're ready for its release.

Looks like flake8 is broken in CI for 3.11. I'm not sure what other issues we might run into.

### Other information

* [What's new in Python 3.11](https://docs.python.org/3.11/whatsnew/3.11.html)

[2021-11-11 15:38] dufferzafar commented on #1352
@micahellison @wren Does coloring that was implemented as part of #692 not work on Windows?

![image](https://user-images.githubusercontent.com/1449512/141325798-2afdc787-9225-4bec-92a6-b936ac156529.png)

[2021-11-11 16:02] micahellison commented on #1352
Hi @dufferzafar, it is working for me with both Windows Terminal and cmd.exe with the following environment:
[code]
The default config doesn't have any colors set. Maybe that's the issue you're running into? Or perhaps something specific to your environment. Feel free to post a new bug with the details of your environment (especially if anything WSL-related is going on) if it's still not working f

[2021-11-11 17:05] dufferzafar commented on #1352
@micahellison Yeah, it was the config. Changing it worked. Any reason why we don't ship with colors by default?

[2021-11-13 20:03] micahellison commented on #521
Closing this as a duplicate since there's more recent info in #1353.

[2021-11-13 20:03] #521 closed

[2021-11-13 20:18] micahellison opened #1372 "Prompt to include colors in config when first running jrnl"
## Feature Request

### Use Case/Motivation

The colors are a relatively new feature that can be modified in the config file, but we never enabled them in the default configuration. It seems like a good question to ask new users about, with a default to "yes".

### Example Usage

When you first run jrnl and there is no config file found, you encounter a wizard with a couple prompts like this:
[cod

[2021-11-13 20:19] micahellison commented on #1352
I think it's just the case that nobody ever thought to do that when implementing this feature. But thanks for raising this question. I've filed it in #1372.

[2021-11-16 14:04] tsaber commented on #1341
I use either ConEmu on Windows or the built-in WSL terminal emulator.

`LANG=en_US.UTF-8
LANGUAGE=
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="en_US.UTF-8"
LC_NAME="en_US.UTF-8"
LC_ADDRESS="en_US.UTF-8"
LC_TELEPHONE="en_US.UTF-8"
LC_MEASUREMENT="en_US.UTF-8"
LC_IDENTIFICATION="en_US.UTF

[2021-11-16 16:50] micahellison commented on #1341
I think it could be worth trying, though I also understand wanting to keep it.

Is your pi also in the English locale?

In [the docs for sys.stdin](https://docs.python.org/3/library/sys.html#sys.stdin) (which is where this error is happening), it mentions a configuration value for processing input that is affected by the [PYTHONIOENCODING environment variable](https://docs.python.org/3/using/cmdli

[2021-11-18 22:25] tsaber commented on #1341
I will do as soon as I got time. My CS study is asking a lot right now :)

[2021-11-19 06:05] dotlambda commented on #1338
The tests run fine on tzlocal version 4. See https://github.com/regebro/tzlocal#api-change

[2021-11-20 16:49] mcbennet opened #1376 "Tab complete on tags"
## Feature Request

### Use Case/Motivation

A useful feature would be to allow users to tab complete any defined tags. For instance, if the user creates todo lists with jrnl, with entries such as:

[code]

Since the tags `@todo` and `@inprogress` are typed for every such entry, it would be convenient if the user could start to type a tag `@to` then use tab to auto-complete it (`@todo` in this cas

[2021-11-20 19:39] micahellison commented on #1376
Hi, thanks for filing this. I agree that this would be nice, and we actually have an older issue on this with slightly different wording in #618. I'm going to close this issue as a duplicate, but anyone interested in this feature is welcome to submit a PR.

[2021-11-20 19:39] #1376 closed, assigned to nobody

[2021-11-20 19:45] micahellison commented on #1338
It does look like it'd be best to just move to 4.0+ instead of 3, and I'll change the issue accordingly. But the tests for tzlocal 4.1 are failing on every platform but the Mac in PR #1369. If anyone would like to fix these issues, feel free to submit a PR.

[2021-11-20 19:47] #1198 closed, assigned to nobody

[2021-11-20 20:07] micahellison opened #1377 "Use a more sophisticated default composer/editor"
## Feature Request

It could be nice to have a more sophisticated built-in composer/editor for writing and editing entries.

### Use Case/Motivation

Currently, jrnl just uses Python's sys.stdin.read() method to compose new journal entries, unless the user has modified their editor in their config. It has some major limitations, such as preventing the user from modifying any line they've already e

[2021-11-20 20:58] mcbennet commented on #618
Hi all,

The following bash lines are an extension of the above. If sourced, this will allow a user to tab complete on any tab in any journal

[code]

[2021-11-22 14:56] mcbennet commented on #519
I agree that this would be a great feature. For instance, if the user has 'todo', 'inprogress', and 'done' tags that they use often, then if they list all the todo items that are in progress, they might see a long list of the things they are working on, e.g.,

[code]

Now lets say the "Make grocery list" item has a list of groceries in the body,

[code]

And the user would like to add to this list

[2021-11-23 10:38] j-maynard opened #1380 "Custom Fields/Metadata"
## Feature Request
Custom Fields/Metadata

### Use Case/Motivation
If you're journaling you may want to track metadata such as music or mood but in this case the list of things people could put in metadata is pretty limitless.  Having Metadata means will allow people to search or filter based on custom metadata in the same way they can filter through tags.

### Example Usage
`jrnl --field="<key>:<

[2021-11-27 19:22] micahellison commented on #1380
Hi there, thanks for filing this. This is something @wren and I have been talking about a lot, though we're hesitant to implement it on top of jrnl's current format. Lots of developers use jrnl, and we're particularly afraid of their copy-pasted code snippets being interpreted as metadata when they're really part of an entry.

Our hope is to introduce features like this on top of a new storage for

[2021-11-29 15:44] micahellison commented on #1371
I'm thinking of removing the Python 3.11 build from our GitHub Actions for a while.

This might not seem like a big deal from a technical standpoint, but it's disheartening to see the red "X" on a perfectly good pull request. And so far, GitHub won't allow us to prevent failures on certain builds from failing a whole PR's run  (actions/runner#2347).

[PEP 664](https://www.python.org/dev/peps/pep-0

[2021-12-11 20:35] #1287 closed, assigned to nobody

[2021-12-11 23:38] micahellison opened #1388 "Maintainers are on vacation until January 8, 2022"
We'll be on vacation for the rest of December and early January. We'll back on January 8 to review any new PRs or issues.

[2021-12-11 23:49] wren commented on #1388
![Vacation dog](https://media0.giphy.com/media/j0QzDgFZRX2njRxxtP/giphy.gif)

[2021-12-11 23:56] wren commented on #1388
![Vacation dog](https://media0.giphy.com/media/J546wv1ja2LkrAwRBm/giphy.gif)

[2021-12-16 18:45] Granddave commented on #1358
I also experienced this issue.
For the sake of documentation if someone gets the same problem;
The way to rotate password is to decrypt and encrypt.
[code]

[2021-12-22 06:01] Jamelle-Boose opened #1390 "Add the ability to 'import' and attach a video file (.mp4, .avi, .mkv, URL) to a journal entry"
## Feature Request

### Use Case/Motivation

I would like to record a daily video to document my journal from zero to hero. For my future children, I want to video document my journey from "who their father was" to "who their father became". While I could list incremental stats via text (current weight, current net worth, etc) and use text to show the journey of incremental improvement, I believe

[2022-01-01 21:35] neontapir opened #1391 "Specifying 'today' does not filter by year, also returns entries from same date in prior years"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:

jrnl: v2.8.3
Python: 3.9.9 (main, Nov 21 2021, 03:23:42)
[Clang 13.0.0 (clang-1300.0.29.3)]
OS: Darwin 20.6.0

  - Install method:

brew

### Current Behavior

Today is 1 Jan 2022. Here's an excerpt of the output of this command. Note that there's an entry from 1 Jan 2021 as well as 1 Jan 2022.

$ jrnl -today

2021-01-01 12:00 entry.

[2022-01-01 21:49] neontapir commented on #1391
This was a misunderstand on my part. I thought that `jrnl -today` was a shortcut for `jrnl -to today`, but it's actually `jrnl -today-in-history`. It's working as expected. Closing issue.

[2022-01-01 21:49] #1391 closed, assigned to nobody

[2022-01-03 11:21] giuliofoletto commented on #1261
I think this is because [parsedatetime](https://github.com/bear/parsedatetime) does not recognize `at` as an indicator for hours, and therefore cannot interpret a simple integer number like `9` in any meaningful way. I am not sure of this, however, I have posted an [issue](https://github.com/bear/parsedatetime/issues/279) in their repo, so that maybe we can get updates from them.

[2022-01-08 18:41] micahellison commented on #1388
We're back!

[2022-01-08 18:41] #1388 closed, assigned to nobody

[2022-01-08 19:00] micahellison commented on #1390
Hi there, thanks for submitting this. We have been thinking about adding support for attachments for some time, though there are lots of data format issues we'd like to work out first.

In the meantime, if encryption isn't an issue, I think that using URIs of some sort is a great way to handle this. For you, that could simply mean including YouTube links in your entries. If I were going to do a pr

[2022-01-08 19:10] micahellison commented on #1102
It looks [pydantic](https://pydantic-docs.helpmanual.io/) could be promising for validating the config file when jrnl first loads.

[2022-01-08 21:54] micahellison opened #1393 "Compile jrnl Windows executables as part of release process"
## Feature Request

It would be nice to have executable files for jrnl.

### Use Case/Motivation

Linux users can install jrnl relatively easily using a package manager, which they are generally accustomed to. However, installing jrnl on Windows requires a couple manual installation steps, including installing Python itself.

It's a significant barrier to entry for Windows users. Moreover, I don't

[2022-01-08 22:02] micahellison opened #1394 "Add --co alias for --config-override"
## Feature Request

It would be nice to use `--config-override` with a shorter alias.

### Use Case/Motivation

When `--config-override` was implemented, I started using `--co` for it. Our CLI parser automatically matches up abbreviated arguments like this with their longer endings... unless it's ambiguous, which it is in the current beta release because of `--config-file`:
[code]
It would be nice

[2022-01-08 22:51] #1349 closed, assigned to nobody

[2022-01-12 19:08] tjapro commented on #1263
Just a bug report from other source about the same problem: https://bugzilla.redhat.com/show_bug.cgi?id=2039871

[2022-01-15 19:54] micahellison commented on #1263
H @tjapro, I get an access denied error when I view that link. Is it a bug report about jrnl, and/or is there anything from it specifically that you can share here?

[2022-01-15 19:58] micahellison commented on #1371
We are testing weekly but no longer testing this in PRs. I'm closing this for now but we'll file a new issue for supporting 3.11 in PRs in May or June or whenever 3.11 gets its feature freeze.

[2022-01-15 19:58] #1371 closed, assigned to nobody

[2022-01-15 20:04] tjapro commented on #1263
The issue is now public, but the report is here:

[code]

[2022-01-15 20:06] musicinmybrain commented on #1263
At @tjapro’s request as the original submitter, the downstream bug report is now public.

[2022-01-17 14:50] aindriu80 commented on #696
Can you change the date to Day Month Year? Why doesn't JRNL use the locale date setting?

[2022-01-17 21:23] wren commented on #696
Not consistently, no. That's why this issue is open.

@aindriu80 There's actually a draft PR open right now (#1378) to get jrnl to use the locale, but it's still failing some tests. If this is a subject you're familiar with, please feel free to help on the PR.

[2022-01-28 11:00] sebhahn opened #1402 "Customize bracket style in --timeformat option"
## Feature Request

### Use Case/Motivation

I would like to customize the style (brackets) used for the timeformat (e.g. *" <date>: title" to create a .org (emacs org mode) compatible journal file)

### Example Usage

jrnl --timeformat '[%Y-%m-%d %H:%M:%S]: %entry'
jrnl --timeformat '%Y-%m-%d %H:%M:%S: %entry'
jrnl --timeformat '* %Y-%m-%d %H:%M:%S: %entry'

### Other information

https://github.

[2022-01-29 22:54] manoelpqueiroz opened #1403 "Does jrnl support multiple tag symbols?"
## Support Request

### Environment
[code]
  - Install method: `pipx`

### What are you trying to do?

I'm wondering if jrnl allows for multiple tags so I could, for instance, use <kbd>@</kbd> for people and <kbd>+</kbd> for places. I haven't seen anything in the documentation mentioning this and the config file *leads* the user to think this is possible, since it has a `tagsymbols` (plural) key.

[2022-01-30 04:49] wren commented on #1403
Yup! Just put multiple characters like this:

[code]

Maybe we should add support for an array, though; I can see why that would make sense.

[2022-01-31 12:50] SteveDunn opened #1405 "No tags on Windows"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method: installed latest python, installed latest pipx, installed via pipx

### Repro Steps
When I do the following, I get:

[code]

Then, when I do list the tags, I don't see any: `jnrl --tags` => `[No tags found in journal.]`

### Other Information

[2022-02-05 19:20] micahellison commented on #1405
Hi there, this is a PowerShell issue - the @ character is a special character in it. Here's the documentation on how to deal with this:

[2022-02-05 19:20] #1405 closed, assigned to nobody

[2022-02-05 19:21] #1403 closed, assigned to nobody

[2022-02-05 20:20] wren commented on #1402
Hi! Thanks for submitting this issue. I have a few questions.

So, we currently have the `--config-override` option that can be used to override the `timeformat` option (e.g. `jrnl --config-override timeformat 'some timeformat %Y-%m-%d etc'`). Does that do what you need?

If not, can you explain in a bit more detail what's missing? I'm not very familiar with org mode, so I'm not sure what the spec

[2022-02-05 20:21] micahellison opened #1406 "Sync jrnl's Python version support more closely to Python release cycle"
Currently we're supporting Python 3.7+, but Python has been iterating pretty quickly in recent years and we'd like to take advantage of new features.

According to [PEP 602](https://www.python.org/dev/peps/pep-0602/), each minor Python version gets bug fixes for a year and a half, and right now Python 3.9 is the earliest version in that phase. There's another, longer period for security fixes, but

[2022-02-05 20:59] #1300 closed, assigned to micahellison

[2022-02-05 20:59] #995 closed, assigned to nobody

[2022-02-05 20:59] #997 closed, assigned to micahellison

[2022-02-05 21:04] #1394 closed, assigned to nobody

[2022-02-07 04:51] jgarte opened #1408 "Certs broken on website"
Your connection is not private
Attackers might be trying to steal your information from jrnl.sh (for example, passwords, messages, or credit cards). [Learn more](chrome-error://chromewebdata/#)
NET::ERR_CERT_COMMON_NAME_INVALID

[2022-02-08 21:53] wren commented on #1408
Looked into this and updated a bunch of settings. I think it should be good now, but we have to wait for DNS to propagate, so it could be up to 72 hours for everyone to see the fixes.

Thank you for reporting this!

[2022-02-09 02:30] wren commented on #1408
After flushing the caches of the major DNS providers (Cloudflare and Google), it seems like we won't have to wait 72 hours. The site should be back up for everyone.

Also, as part of the fix for this, we moved DNS to Cloudflare, so we'll get some DDOS protection and other goodies as a result.

Thanks again, @jgarte, for reporting this!

[2022-02-09 02:30] #1408 closed, assigned to nobody

[2022-02-09 08:54] viegasfh commented on #1377
I like the idea. [prompt_toolkit](https://python-prompt-toolkit.readthedocs.io/) has been used in the vim-clone implemented in Python. The good thing is that it does feel like you are working with Vim or Emacs. That would be great as it would be better integrated with jrnl itself. I vote yes.

[2022-02-09 21:23] DanaKirsh opened #1411 "Document flags for filtering entries by date"
## Documentation Change

### Affected Page(s)
https://jrnl.sh/en/stable/usage/#viewing-and-searching-entries

### What Could Be Better?
Documentation is missing for flags introduced in https://github.com/jrnl-org/jrnl/pull/1145
Also would be good to document `-today` https://github.com/jrnl-org/jrnl/issues/1391

[2022-02-12 21:00] micahellison commented on #1411
HI @DanaKirsh, thanks for filing this. These issues were resolved in our beta but have just been pushed over to the main site with our latest release today. The resolution to this issue is in the new command line reference page here: https://jrnl.sh/en/stable/reference-command-line/

[2022-02-12 21:00] #1411 closed, assigned to nobody

[2022-02-12 21:07] micahellison commented on #1024
Would be nice also to add a link to report a bug here when we have an exception we didn't expect.

[2022-02-12 22:07] #1406 closed, assigned to nobody

[2022-02-17 23:38] #1286 closed, assigned to nobody

[2022-02-19 22:04] micahellison opened #1415 "Warn user when there are duplicate keys in the config file"
## Feature Request

### Use Case/Motivation

If there are duplicate keys on the same level of the config file (e.g. "editor" shows up twice at the top level), our loader just picks one of them (currently the first, though I'm investigating replacing the loader with another loader that is picking the last). I think this is fine, and we should be permissive when it comes to loading the YAML file, bu

[2022-02-26 20:39] micahellison opened #1419 ""Entry not saved" text doesn't appear in default stdin editor"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method:  pipx

### Current Behavior

When you use the default editor (stdin) and enter nothing then press Ctrl+Z (or Ctrl+D on *nix), there's no message. However, when you use a configured editor and enter nothing then close it, it says "[Nothing saved to file]".

### Expected Behavior

The user should see the same m

[2022-02-26 22:15] micahellison opened #1420 "Empty config file leads to confusing error message"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method:  pipx

### Current Behavior

If your config file is empty, you get a stack trace and a `TypeError: 'NoneType' object is not iterable` message.

### Expected Behavior

It would be nice to have an error message that explains that the config file can't be parsed. Maybe show the path of the config file too.

###

[2022-03-12 19:37] micahellison commented on #1402
Closing this since it's gone stale.

[2022-03-12 19:37] #1402 closed, assigned to nobody

[2022-03-12 19:52] micahellison commented on #1338
I'm starting to wonder if we need tzlocal at all. A lot of changes have happened to the Python stdlib when it comes to time zone handling, and maybe we can just use that built-in functionality instead of regularly adapting to changes in this library.

[2022-03-12 20:34] micahellison opened #1422 "DayOne journals are off by one hour during daylight savings time"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method:  running off develop brunch with `poetry run`

### Current Behavior

When I make an entry in a DayOne journal at 2022-03-12 at 11:59pm, it's recorded as 2022-03-13 at 12:59am. I believe it's because of a combination of daylight savings time and time zones: 2022-03-13 is "spring ahead" for daylight savings tim

[2022-03-13 02:55] tngyo opened #1425 "Mac Installation Problem: Warning: Transient problem: HTTP error"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
  - Install method:

Mac Terminal

### Current Behavior

~ $brew install jrnl
Updating Homebrew...
==> Downloading https://homebrew.bintray.com/bottles/gettext-0.20.2_1.catalina
Warning: Transient problem: HTTP error Will retry in 1 seconds. 3 retries

### Expected Behavior

expected to run smoothly
~ $brew install jrnl

### Repro Step

[2022-03-13 19:41] machocam commented on #1291
I think that the "OR" syntax could be simpler:

```jrnl -contains foo, bar```

-contains without quotations is always single term, you could then just add your "OR" items as a comma separated GLOB. [Fossil SCM implements this](https://fossil-scm.org/home/help/addremove) like that for example.

[2022-03-14 07:37] tngyo commented on #1425
I think It is an outdated homebrew problem. Resolved with reinstalling homebrew, update as instructed and brew install jrnl.

Thanks.

[2022-03-14 07:37] #1425 closed, assigned to nobody

[2022-03-16 20:46] rsvdr opened #1428 "Store password in seahorse"
## Support Request

### Environment

jrnl: v2.8.3
Python: 3.10.2 (main, Jan 15 2022, 19:56:27) [GCC 11.1.0]
OS: Linux 5.16.11-arch1-1

I have installed jrnl from the [community repo](https://archlinux.org/packages/community/any/jrnl/).

### What are you trying to do?

I get prompted for password every time I want to read or add an entry of an encrypted journal.

I would like to store the password

[2022-03-17 15:52] richardjs opened #1429 "Add --change-time command to change the timestamp of an entry"
## Feature Request

Hello! I'm proposing an amend entry command, similar to `--edit` but that updates the timestamp for the entry.

(Or, if you prefer, if could be a flag that changes the behavior of the edit command.)

### Use Case/Motivation

I keep an entry for the day that tracks tasks completed, pomodoros logged, etc. Right now I write down the information apart from jrnl and enter it into jr

[2022-03-19 19:30] #1141 closed, assigned to nobody

[2022-03-19 19:46] micahellison commented on #1428
Hi there, jrnl uses the [keyring](https://pypi.org/project/keyring/) package to store passwords. Their documentation mentions mentions the [SecretStorage](https://pypi.org/project/SecretStorage/) package as a way to make it work with GNOME keyrings, which I understand is the type of keyring that seahorse uses. You might have some luck by running:
[code]
However, I'm not sure. Neither of us jrnl ma

[2022-03-19 20:01] wren commented on #1429
Hi, @richardjs! Thank you for filing this issues; it's an interesting idea.

I like the idea of being able to edit the timestamp, but I'm not sure tying it to `--edit` functionality is the right approach. What about something like `--change-date` or `--update-time` (not sure about the exact name)? It could work like our current timestamps functionality when you are adding a new entry (`now` if no

[2022-03-19 20:24] micahellison opened #1432 "Search term combinations are inconsistently applied with AND or OR logic"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method:  pipx

### Current Behavior

If you run `jrnl --help`, you'll see a bunch of commands to search, like -on and -contains. One of the terms is -and, which has the description:  `Show only entries that match all conditions, like saying "x AND y" (default: OR)`. However, sometimes the behavior is "AND" and someti

[2022-03-19 20:35] micahellison opened #1433 "2022 annual dependency review"
We're trying to keep to an annual schedule for reviewing all our dependencies. This issue is for doing that in 2022.

### Motivation
We get lots of help from poetry and dependabot, but it's good to periodically check out these dependencies for issues, such as not supporting later Python versions and/or languishing for years without updates, especially if the dependency interacts with frequently ch

[2022-03-19 20:43] micahellison opened #1434 "Rewrite test config journal paths to use current folder structure and update test runner accordingly"
## Test Change Request

Our test data folder structure is:
* `tests/data/configs` for config files
* `tests/data/journals` for journals referenced by those config files

However, the config files all point to `features/journals` when referring to journals. This is a holdout from the old `behave` BDD before we replaced it with `pytest-bdd`.

### Use Case/Motivation

If it used the current folder st

[2022-03-19 20:50] micahellison commented on #1433
We've already identified that we need to drop or replace ansiwrap, probably replacing it with rich. See #1191

[2022-03-19 21:04] micahellison opened #1435 "Remove "sample" format and its asteval dependency"
## Background
The are two old template files lurking in the source under /plugins/ that are not referenced by the rest of jrnl:
* template.py
* template_exporter.py

These files don't have much documentation, and I'm not sure they are complete. Their creation isn't associated with any GitHub issue, and they could only really ever be used via a monkey patch. They are the sole reason for our depende

[2022-03-19 21:04] micahellison commented on #1433
I think we have an opportunity to remove asteval also. See #1435

[2022-03-20 21:10] rsvdr commented on #1428
I've tried installing this package, then decrypt and reencrypt my jrnl, but still get prompted for password every time.

Now I have removed seahorse. This doesn't solve the problem either, so I believe the password is not getting stored at all...

[2022-03-21 13:39] richardjs commented on #1429
That makes sense. You're right that the editing function and the date update function are two separate things, and so it makes sense to implement them separately (and we already have the edit function). And as you also point out, a user may have some reason to adjust the date to some other time than `now`.

So yeah, that works for me! I'm still happy to implement (but also have no territoriality a

[2022-03-25 17:03] wren commented on #1429
@richardjs: Sounds good to me. PRs are always welcome. Thank you!

@micahellison: Do you have anything to add?

[2022-03-26 17:17] micahellison commented on #1429
Nothing to add from me, except feel free to let us know if you have any questions or want any help with the tests. We generally review PRs on Saturdays.

[2022-03-26 18:05] micahellison commented on #1429
Looks like we hadn't settled on the parameter name. I think `--change-time` would be best, since it's not "updating" per se and the word "time" encompasses both dates and times within days.

[2022-03-26 18:35] #1435 closed, assigned to nobody

[2022-03-26 19:52] micahellison commented on #1428
Hi @rsaavedraxyz, I tried setting up Arch on WSL and had some issues trying to save to a keyring also, but I was able to resolve them by running:
[code]
Then I run `jrnl --decrypt` and `jrnl --encrypt` and it has been working fine since then.

Does that work for you also?

[2022-03-26 21:15] micahellison commented on #1433
The following dependencies have been updated relatively recently without issues and haven't raised any major issues for us:
- cryptography
- keyring
- python-dateutil

[2022-03-26 21:30] micahellison commented on #1433
`pyxdg` has been working well for us and was last updated a year and a half ago. Its [maintainer has mentioned that "running it on Windows is not really a goal"](https://github.com/takluyver/pyxdg/pull/16) which concerns me since jrnl is cross-platform, but the library is implementing the XDG spec just fine on every platform we've seen jrnl running on and it has kept up with Python versions over t

[2022-03-27 08:51] rsvdr commented on #1428
Hi @micahellison, unfortunately that did not work for me.

On Sat Mar 26, 12:52, Micah Jerome Ellison wrote:

[2022-03-29 18:38] richardjs commented on #1429
OK, great. I'll get to work. Thanks!

[2022-04-03 14:06] viegasfh commented on #1274
Hello, guys! I know at the moment we are using MkDocs for the documentation, but if we migrate to Sphinx, we can solve the problem for all platforms, as it allows producing the following output formats: **_HTML (including Windows HTML Help), LaTeX (for printable PDF versions), ePub, Texinfo, manual pages, plain text_**. MkDocs is limited to HTML, as it is a static site generator. I know Pandoc has

[2022-04-03 14:16] viegasfh commented on #1274
I forgot to add that reStructuredText is a much richer markup language that Markdown.

[2022-04-04 19:11] thetayloredman opened #1444 "using git to sync encrypted journals"
## Support Request

### Environment

  - Jrnl `--diagnostic` output:
[code]
  - Install method:  **pipx**

### What are you trying to do?

I am trying to synchronize journals using Git. The problem here is **my jrnls must be encrypted.**

### What have you tried?

I am trying to write a merge engine to decrypt and re-encrypt the journals. The problem is I only want to prompt for a password once. I

[2022-04-09 20:16] micahellison commented on #1428
I'm a bit out of my depth here. Would any Arch users like to help? Also, @rsaavedraxyz, you may have better luck posting this question to Arch forums or message boards that are related to the package manager you used.

[2022-04-09 20:55] micahellison commented on #1102
For #946 to work using ruamel.yaml, we'll need to deal with two different representations of the configuration:

* the actual YAML contents (including with comments), which can be treated more like a database context
* the config values as read by the rest of jrnl, which can be treated more like a Plain Old Python Object (aka data transfer object)

One of the big innovations of ruamel seems to be

[2022-04-09 21:06] micahellison commented on #1353
I did some work on this six months ago with PR #1378, but ran into a variety of issues and I am having a hard time mustering the drive to overcome them, especially considering that there's so much lower-hanging fruit to pick from our issues.

If anybody else would like to take this on, please feel free to jump in, either building on what I've done so far or with your own solution.

[2022-04-09 21:37] micahellison commented on #1274
I can see the appeal of switching to Sphinx, but I'm worried about migrating our docs pipeline from Markdown -- partly because of the labor to migrate, but also because I'm afraid it would break the version-specific documentation history in Read the Docs, which has been a little brittle for us already across the relatively long lifetime of this project. And since our site docs are in Markdown, I'd

[2022-04-09 21:47] viegasfh commented on #1274
Hi. @micahellison ! Yes, it does make sense what you say, and I agree.

If the intention is to keep the existing Markdown workflow, perhaps the Pandoc suggestion is the more appropriate, but the question is how to generate the HtmlHelp file. I don't think Pandoc supports it. Unless there is an alternative that produces the htmlhelp file from the html files via the command line.

[2022-04-09 21:48] micahellison opened #1445 "Add machine-readable format for --list"
## Feature Request

### Use Case/Motivation

Currently, the only guaranteed way to know the location of your config file and journals is to run `jrnl --list`. Without that command, you'd have to either reimplement the [basedir XDG spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) or use something simpler that's specific to your machine's configuration. Not ideal.

[2022-04-09 21:52] #1444 closed, assigned to nobody

[2022-04-09 22:04] micahellison commented on #1274
Are you referring to compiled HTML (CHM) Windows help files? I can imagine a process for generating this from HTML like you mention, though I think it would be fine enough to generate plaintext output to be retrieved by a `/?` argument. Basically, for rich text documentation, I think the website is sufficient, but I see the `/?` argument as the Windows analogue to the man page, as its purpose is t

[2022-04-09 22:33] thetayloredman commented on #1445
Maybe a syntax like:

[code]
etc.?

[2022-04-10 16:42] viegasfh commented on #1274
Hum... OK. It makes sense.

[2022-04-19 11:23] rsvdr opened #1448 "Integration with vim-ultisnips"
## Feature Request

Use a [vim-ultisnip](https://github.com/SirVer/ultisnips) snippet instead of plain text as a template.

### Use Case/Motivation

This facilitates jrnl template edit by using ultisnips *replacement* and *jump* capabilities.

### Example Usage

Consider a foo jrnl configured as:

[code]

On `jrnl foo` a bar snippet is called.

The bar snippet is defined in a `template-foo.jrnl` f

[2022-04-23 02:49] rikiwarren opened #1451 "Cannot use neovide as the editor."
## Bug Report

### Environment
jrnl: v2.8.4
Python: 3.10.2 (main, Feb  2 2022, 05:51:25) [Clang 13.0.0 (clang-1300.0.29.3)]
OS: Darwin 21.4.0

  - Install method: Installed through Homebrew

### Current Behavior
I've tried to set neovide as the editor. However, when I try to edit existing documents (.e.g. `jrnl home --edit``) it gives me an empty file.

### Expected Behavior
It should open and edi

[2022-04-23 18:02] micahellison commented on #1451
Hi @rikiwarren, I'm not sure what's going on, but I do have a few questions that might help troubleshoot:

Could you share the command line arguments you use for neovide in the "editor" key of your config? I think it's most likely related to that, due to one of these two issues:

* jrnl passes a temporary file's path as the final argument after the command you specify in your config, so it's possi

[2022-04-23 18:19] rikiwarren commented on #1451
Ah, it's because by default neovide returns control to the terminal. I changed it to `neovide --nofork --multigrid` and it works beautifully.

Thank you so much for your help!

[2022-04-23 18:19] #1451 closed, assigned to nobody

[2022-04-23 18:21] micahellison commented on #1448
Hi @rsaavedraxyz, could you help me understand what you expect to happen in this step:

Are you imagining that a snippet would be be interpreted from your command line arguments to jrnl, and the resulting output would appear in your editor? Or something else?

I'm also not clear on where these TITLE/VAL1/VAL2 values are coming from. Could you show some examples of how you'd enter these inputs, and

[2022-04-23 18:23] micahellison commented on #1451
Glad to help! Thanks for reporting back with the arguments that worked.

[2022-04-23 21:28] micahellison commented on #1242
@wren and I were just discussing how if we added this feature, it might be nice for jrnl to default to no search results when running destructive operations like `jrnl --delete` and the new `jrnl --change-time`  (#1429).

However, I do like jrnl's current behavior of defaulting to all search results with the `--export` flag, and I think it would be less useful to force the user to add `-all` just

[2022-04-23 21:58] micahellison opened #1454 "Report number of entries found in a search"
## Feature Request

### Use Case/Motivation

Right now, if you search for entries in any way (tags, latest # of entries, -from or -to, -contains, etc.) it will simply return the results, or return nothing if no results are found.

However, it's pretty standard behavior for anything with a search feature to report the number of records found. And we already do something like this after editing an e

[2022-04-23 22:20] micahellison opened #1455 "Remove default_hour and default_minute from config?"
Currently, we have two key values in the config that add an hour and minute to a new entry when you specify a date but no time. Here they are with their defaults:
[code]

Here's how they work -- note how the 09:00 was added to the timestamp:
[code]

However, we aren't consistent in how we use this. For instance, when I run `jrnl --edit` and change the bracketed timestamp from `[2022-04-22 09:00]`

[2022-04-23 22:34] micahellison opened #1456 "Add documentation about how the editor must be a blocking process"
## Documentation Change

### Affected Page(s)

 - https://jrnl.sh/en/stable/external-editors/
 - https://jrnl.sh/en/stable/reference-config-file/

### What Could Be Better?

When I saw #1451 about getting neovide to work in jrnl, I realized that it wasn't clear in the docs that the editor needs to be a blocking process, rather than returning control to jrnl immediately.

- [External Editors page](

[2022-04-24 16:40] jgarte opened #1457 "Add support for org-mode export"
## Feature Request

Add support for org-mode export.

### Use Case/Motivation

The motivation is to have a supported way to get jrnl notes into and out of emacs with tags and all.

I'd like to get jrnl notes into [org-roam](https://github.com/org-roam/org-roam), for example, and vice versa.

### Example Usage

 jrnl --format org

[code]

### Other information

There is a python library for parsing

[2022-04-25 01:41] richardjs commented on #1429
Thinking about bug in the initial version of #1452, where `--change-time` with no selectors changes time on the whole journal, I got to thinking about how this feature should function.

In a sense, changing time is a destructive action. For many or most journals, the timestamp of an entry is a very important part of its context. Erroneously changing an entry's time isn't quite as bad as outright d

[2022-04-25 17:23] rsvdr commented on #1448
Exactly, for example I have a snippet named `bar`. The template defined for `bar` pops up in my vim editor, then I can use `ctrl+j` and `ctrl+k` to move around the template variables. This behavior is already provided by vim-ultisnips. I just want `bar` to be called automatically inside vim after I type `jrnl bar` in the command line to enter the editor.

Those are placeholders for the snippet. So

[2022-04-25 20:18] gregorybodnar commented on #1448
This strikes me as something that you'd configure within vim instead of
integrating with jrnl directly. You could either set up an autocmd in your
vimrc to match the temp file that is created by jrnl and passed to the
editor or modify your jrnl config to pass a command line option to vim that
executes the snip on startup.

Regards,
Greg

On Tue, 26 Apr 2022 at 05:24, rsaavedraxyz ***@***.***> wrot

[2022-04-26 01:12] micahellison commented on #1448
I agree with @gregorybodnar on this being best implemented with some config or automation in vim. I'm not a vim user so I can't comment on the best approach, but I think that the main concern would be making sure that it works with your journal both when creating a new entry and when editing existing entries, since you probably would only want this running on new entries.

Generally, we don't want

[2022-04-26 08:51] rsvdr commented on #1448
@gregorybodnar This would be possible if jrnl named its temp files as `UID.journalname.jrnl` instead of `UID-journalname.jrnl`, a dash instead of period!

@micahellison I understand, yes it sounds like a hook + template functionality already built-in in jrnl would be nice.

[2022-04-26 21:16] gregorybodnar commented on #1448
I don't understand why there would be a problem with the file naming
format. Both are easily captured as regular expressions and can be matched
for an autocmd. Given the .jrnl suffix, you should be able to use something
like:

:autocmd BufRead *.jrnl execute "normal i<ultisnips text trigger> "

If you needed to have different snips executed based on which journal you
are using, you'd refine the re

[2022-04-28 15:01] rsvdr commented on #1448
@gregorybodnar Thanks that works!

In my case I use tab, so I put this in my vimrc

`autocmd BufRead *-bar.jrnl execute "normal iMYSNIP\<tab>"`

Unfortunately its not possible to jump around the snippet given [this glitch](https://github.com/SirVer/ultisnips/issues/1295).

[2022-04-28 15:01] #1448 closed, assigned to nobody

[2022-04-30 07:15] jgarte opened #1464 "Pass template from comand line"
The manual [shows](https://jrnl.sh/en/stable/tips-and-tricks/#1-command-line-arguments) how to import a template as follows:

[code]

Could we support a feature to do the following in one step?

[code]

I imagine we can have a short flag also like `-t template.txt`

I'd like to be able to write a script to leverage fzf to fuzzily choose a template, kind of like org capture templates.

Having a sim

[2022-04-30 17:31] micahellison commented on #1464
Hi @jgarte, sounds like a cool project. You can do this with `--config-override`, which lets you set any config value (including template) for that particular invocation of jrnl, like so:
[code]

[2022-04-30 18:12] micahellison commented on #1428
I'm closing this due to inactivity, but if anyone would like to contribute, feel free to comment here.

[2022-04-30 18:12] #1428 closed, assigned to nobody

[2022-04-30 18:13] #1464 closed, assigned to nobody

[2022-04-30 18:17] #1455 closed, assigned to nobody

[2022-04-30 18:26] micahellison commented on #1429
Hi @richardjs, thanks for your careful consideration on this issue. I also like the notion of having a confirmation -- and in fact, we already have this behavior with our `--delete` parameter. I think using the same behavior in `--change-time` would be a good practice.

For now, I don't think the `--no-confirm` is necessary for this feature to roll out, but it could be nice later for the reasons y

[2022-04-30 19:39] #1419 closed, assigned to nobody

[2022-04-30 19:41] micahellison commented on #1457
Hi @jgarte, thanks for filing this.

From what I can see, the org mode format starts with some metadata, then goes into content. The only metadata we have for a journal entry is the title and date, so I would expect an org mode export from jrnl to look like:
[code]
Does this sound like what you're asking for? I'm not an org-mode user so I'm not deeply familiar with what it would be like to receive

[2022-05-01 07:43] jgarte commented on #1464
@micahellison

Thanks!

With your suggestion now, I was thinking something simple like this:

[code]

The `templates` directory contains a ton of templates that the user can fuzzy select from to use with `jrnl`.

[2022-05-07 17:26] lamyergeier opened #1469 "jrnl for Android"
Relevant Past Issues:

[[Mobile Support? · Issue #652 · jrnl-org/jrnl](https://github.com/jrnl-org/jrnl/issues/652)](https://github.com/jrnl-org/jrnl/issues/652)
[[jrnl Android app · Issue #329 · jrnl-org/jrnl](https://github.com/jrnl-org/jrnl/issues/329)](https://github.com/jrnl-org/jrnl/issues/329)

I had to open a new issue as the old issues got locked. Does someone know of Android app that can

[2022-05-07 17:42] #1469 closed, assigned to nobody

[2022-05-07 18:11] #1227 closed, assigned to nobody

[2022-05-07 18:55] micahellison commented on #973
A resolution to this issue should affect --change-time as well (#1429).

[2022-05-07 19:13] #1420 closed, assigned to nobody

[2022-05-07 19:17] micahellison opened #1472 "Using -not argument by itself leads to new entry creation"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method:  pipx

### Current Behavior

When using the -not argument without other search terms, I'm sent into my editor to create a new entry.

### Expected Behavior

The -not argument is supposed to search entries for all entries that don't have the tag specified.

### Repro Steps

This should show all entries that do

[2022-05-07 19:19] #1350 closed, assigned to nobody

[2022-05-07 19:43] micahellison opened #1473 "Add installation BDD tests"
## Feature Request

### Use Case/Motivation

We've added tons of BDD tests to jrnl over the years, but it looks like we missed tests for the initial installation step that runs when no config is found.

It would be good to have tests for cases in a new `install.feature` file like:
- [ ] setting the config path correctly based on various parameters, including the tilde (~)
- [ ] confirming that the

[2022-05-07 20:10] mandarup commented on #1358
This also addressed issue with storing and retrieving password from keyring on linux (if you select Y to last step)

[2022-05-07 20:18] micahellison opened #1474 "Maintainers are on vacation until May 21"
We'll be back and reviewing PRs on Saturday, May 21. Looking forward to seeing your contributions!

[2022-05-10 17:24] thigg commented on #1183
That is something that is happening to me from time to time. I am even saving in the editor, but not closing it.

A feature like this to recover my notes when I accidentally shut down my pc before closing the editor would be nice

[2022-05-14 03:02] apainintheneck commented on #1372
I like this idea but I think that using black as a default color would be a bad idea. It should be some color that shows up well on light and dark colored terminal backgrounds like for example green.

[2022-05-21 17:07] #1474 closed, assigned to nobody

[2022-05-21 17:50] micahellison commented on #1457
I'm closing this as stale, but feel free to add to this if you have any thoughts.

[2022-05-21 17:50] #1457 closed, assigned to nobody

[2022-05-21 17:54] wren commented on #1372
@apainintheneck That's a good point. On a related note, we'll be switching colors to use the `rich` library soon (instead of `colorama`), so we'll have more options available to choose from.

[2022-05-21 19:03] #1429 closed, assigned to nobody

[2022-05-21 21:06] #998 closed, assigned to nobody

[2022-05-21 21:11] #1358 closed, assigned to nobody

[2022-05-23 16:12] ghost opened #1481 "How to rename default jrnl name and create new multiple jrnls?"
## Support Request

### Environment
 Created a new jrnl on macOS. I've read the documentation and I can't find how to change the default file name as well as create new multiple jrnls.

Please help? Thanks. (I'm new to the command line and new to being this tech savvy).

[2022-05-23 20:59] zachary-foster opened #1483 "Journal not saved if another instance of gedit is open"
Thanks for elegant note taking solution! I have been enjoying it so far, but I ran in to a problem:

## Bug Report

### Environment

[code]
Installed with brew

### Current Behavior

I am using gedit as my editor.
When I already have a window open and I run `jrnl`, gedit opens a new tab and `jrnl` prints:

[Nothing saved to file]

and ends with the tab still open. The contents of the tab are not s

[2022-05-23 21:42] micahellison commented on #1483
Hi there @zachary-foster, it looks like the problem is that gedit isn't acting as a blocking process -- it's basically handing control back to jrnl immediately instead of waiting until you've finished editing. Then jrnl sees no changes and lets you know that nothing was saved to the file.

Maybe it only does this when it's already been opened, but there should be a way to get it to behave consiste

[2022-05-23 21:54] micahellison commented on #1481
Hello @dpct-fs, welcome to jrnl and the wonderful world of the command line.

To create new journals, or rename them, you'll need to open your jrnl config file in a text editor. This file is how jrnl knows where to look for journals.

To find your config file, run `jrnl --list` and look at the first line, which starts with "Journals defined in". That's the path of the config file you'll need to op

[2022-05-23 22:07] micahellison opened #1485 "Document import formats (or lack thereof)"
## Documentation Change

Currently, as far as I can tell, the only format that jrnl supports as an import format is jrnl's own format. And while the `--help` page only lists "jrnl" as one of the --format types next to --import, there are a bunch of other --format arguments listed below it for exporting, so it's a bit confusing (see discussion #1476).

### Affected Page(s) / What Could Be Better?

[2022-05-23 22:15] micahellison opened #1486 "--format list and error output is incorrect for importing"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method:  pipx

### Current Behavior / Repro Steps / Expected behavior

The list of formats outputted by jrnl is the same whether we're talking about importing or exporting. To see this in action, enter in a nonsensical import format like so:
[code]
All those formats that jrnl offers are export formats and none are im

[2022-05-23 23:09] zachary-foster commented on #1483
That works, thanks!

[2022-05-23 23:45] #1483 closed, assigned to nobody

[2022-05-24 21:09] micahellison opened #1488 "Add dependency security checks in CI"
I was just reading [this excellent report on the recent malicious takeover of the ctx project](https://python-security.readthedocs.io/pypi-vuln/index-2022-05-24-ctx-domain-takeover.html) and it has me thinking that we might benefit from some automated security checks in our GitHub Actions. The report specifically mentions [Safety](https://github.com/pyupio/safety) and [pip-audit](https://github.co

[2022-05-28 18:37] micahellison commented on #1488
Looks like [GitHub's code scanning](https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning-with-codeql) is worth looking into also.

[2022-05-28 19:33] micahellison opened #1489 "Running jrnl with -not and a tag but no other arguments sends user into write mode instead of a search"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method:  pipx

### Current Behavior

The `-not` argument is for searching for entries with a particular tag, and it works when other search arguments are also supplied, but it doesn't work on its own.

### Expected Behavior

You should be able to search for all entries without a particular tag.

### Repro Steps

Run:

[2022-05-28 19:34] micahellison commented on #1489
Whoops! This is actually the same as #1472. Closing.

[2022-05-28 19:34] #1489 closed, assigned to nobody

[2022-05-29 09:08] TathagataRoy1278 opened #1491 "decrypting and importing file"
I had used jrnl on a machine and encrypted the file through jrnl.
I have switched to a new computer, and do not have access to the previous machine, but I have the backup of the encrypted file. How do I import it into my current new jrnl installation.

I would generally use --import but it only works for unencrypted journal.txt s if I understand correctly.

What do I do?

[2022-05-29 09:15] TathagataRoy1278 commented on #1491
I just had to delete the config file, then put the path of the encrypted journal, and it worked

[2022-05-29 09:15] #1491 closed, assigned to nobody

[2022-06-02 18:59] dcg929 opened #1493 "jrnl should not create 0-length "encrypted" file on startup"
## Support Request

### Environment

  - Jrnl `--diagnostic` output:
  - Install method:  brew

### What are you trying to do?
installed jrnl and created jrnl in Documents folder with encryption.
Set password
Closed jrnl and tried to reopen
Inputting password that was just set produces Password is incorrect

### What have you tried?

### Other Information

[2022-06-03 10:14] thmsklngr opened #1494 "Adding multiple entries not working, dates changed"
## Bug Report

### Environment
[code]
Installation method: Homebrew (on Linux)

### Current Behavior
I simply start jrnl without any option and enter following text in vim:
[code]

The information stored looks different:
[code]

This may vary. I also once got the same entries with this output:
[code]

So, the handling of multiple entries is somehow buggy, but, to be honest, I do not know if this i

[2022-06-04 17:16] apainintheneck commented on #1494
I took a look at this and while I was not able to reproduce the `TypeError` debug message everything else seems to work the same way on macOS. I'm not sure if submitting multiple entries at once is a supported behavior either.

I think a few things are happening here.
1. The first thing `jrnl` tries to do after a new entry is submitted is parse the timestamp and the title. In this case, the format

[2022-06-04 19:28] micahellison commented on #1494
Thanks for the report @mosesontheweb, and thanks for investigating this @apainintheneck. I can repro these issues also.

The multiple entries issue is a problem with "compose" versus "edit" mode: when creating a new entry, such as when you run jrnl with no arguments, you can only create one entry at a time. However, when running with `--edit`, you _can_ create multiple entries at once using that b

[2022-06-04 19:31] micahellison opened #1496 "--debug leads to logging error after composing new entry"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method:  pipx

### Current Behavior

Something is causing the debug logger to crash in write mode. It dumps a traceback. Originally reported in #1494 but this is a separate issue than that issue's primary issue.

### Expected Behavior

The logger shouldn't crash on normal inputs.

### Repro Steps

[code]

### Other I

[2022-06-04 19:51] micahellison commented on #1493
Hi @dcg929, thanks for reporting. It looks like jrnl creates an empty file on startup, and empty files can't be decrypted since there is nothing to decrypt.

Instead of creating this empty file during installation, it should still save the encrypted file. And in fact, jrnl does this properly in edit mode -- for instance, one can run `jrnl --edit` on an encrypted journal, delete the entire journal,

[2022-06-04 19:53] micahellison commented on #1493
Oh, forgot to mention the workaround! If you delete your original empty journal file (which you can find by running `jrnl --list`), you should be able to get past this issue.

[2022-06-04 20:09] #1472 closed, assigned to nobody

[2022-06-04 20:20] #1293 closed, assigned to nobody

[2022-06-04 21:28] apainintheneck commented on #1496
I'm not able to reproduce this error on macOS.

[2022-06-04 22:13] #1263 closed, assigned to nobody

[2022-06-09 18:39] jonakeys commented on #1496
This is already fixed with PR #1484

[2022-06-10 13:19] edoardob90 commented on #1380
I was thinking about a few metadata fields that might be useful to add to each entry, e.g., the GPS location and the weather conditions. Do you think these could be added to the current entry format or should be deferred as well? I'm not sure where it would be more appropriate to add this info, perhaps at the very bottom of each entry?

In the location/weather example, both these metadata should b

[2022-06-11 18:29] micahellison commented on #1481
I'm closing this since it's getting old. Feel free to chime in if you want any more help with this.

[2022-06-11 18:29] #1481 closed, assigned to nobody

[2022-06-11 18:35] micahellison commented on #1496
Thanks @jonakeys for the heads up! I just double-checked and confirmed that it works on the develop branch.

[2022-06-11 18:35] #1496 closed, assigned to nobody

[2022-06-11 20:32] #1024 closed, assigned to nobody

[2022-06-11 21:28] micahellison opened #1501 "Blank box displays when not making any changes in --edit"
## Bug Report

### Environment
  - `jrnl --diagnostic` output:
[code]
  - Install method:  pipx

### Current Behavior

When you run `jrnl --edit` and change nothing, a blank box appears.

### Expected Behavior

There should probably be a message saying that nothing was edited. Or it should just be blank instead.

### Repro Steps

[code]
Then close your editor.

### Other Information

Before this v

[2022-06-13 11:44] thmsklngr opened #1509 "Adding new entry with date only works with format m.d.Y"
## Bug Report

### Environment
[code]

Installation method: Homebrew (on Linux)
### Current Behavior
Whenever I add a new entry specified with full date, it is always treated as `%m.%d.%Y`. As far as I have seen there is no note about this and it is not configurable as well.

### Expected Behavior
Adding an entry should also work with format `%d.%m.%Y`, maybe by adding a new option in `config.yaml

[2022-06-13 20:19] jonakeys commented on #1415
Please assign this issue to me. I have the code ready, but need to create the tests. After that I'll create the PR.
Edit:
PR filed

[2022-06-18 18:14] micahellison commented on #1509
Thanks for the bug report - this has been filed under another issue #696. I'm closing this as a duplicate, though I appreciate the extra info about the 13th+ day of the month.

To help with this bug, would you mind running `locale` and sharing the output? I think that reading the locale is going to be part of the solution to this and it'd be good to have a test case.

[2022-06-18 18:14] #1509 closed, assigned to nobody

[2022-06-18 18:54] #1013 closed, assigned to nobody

[2022-06-18 18:54] #1361 closed, assigned to nobody

[2022-06-23 20:34] qazip opened #1517 ""[Nothing saved to file]" when using Sublime-Text"
## Bug Report

### Environment
[code]

### Current Behavior
I edited jrnl.yaml and added 'subl' as the editor (sublime-text). When doing "jrnl", sublime opens a file correctly, however, the terminal imediately outputs the "[Nothing saved to file]". If I write something on sublime-text and save the file, it seems like it's ignored by jrnl.

### Expected Behavior
I would like to be able to use Subli

[2022-06-23 20:40] qazip commented on #1517
Doing ` "subl -w"` as the editor seems to work.

[2022-06-23 20:40] #1517 closed, assigned to nobody

[2022-06-24 01:09] wren commented on #1517
Looks like you already worked it out. 👍

For anyone else finding this with the same question, please see our documentation:

https://jrnl.sh/en/stable/external-editors/#sublime-text

[2022-06-25 10:48] viegasfh commented on #1380
I have a reading journal, and I do miss this, because I want to be able to track the pages I've read, the time I took to read, the author (I have been doing this with tags at the moment). Indeed, `jrnl`'s format is a little limited. If it supported comments, one could embed the tags in the comments.

One thing that occurred to me, while we wait for this feature to be implemented, is to embed the m

[2022-06-25 18:58] #1501 closed, assigned to nobody

[2022-06-25 19:47] #1473 closed, assigned to nobody

[2022-06-25 19:53] micahellison commented on #709
I just stumbled on this issue and found that it was duplicated by #1473, which was just resolved by #1513.

[2022-06-25 19:53] #709 closed

[2022-06-25 21:29] micahellison opened #1521 "Don't import cryptography package if not needed"
## Feature Request

### Use Case/Motivation

I noticed the 3.0 beta is running a bit slower than 2.8.4 so I ran some performance testing. It looks like the cryptography package is the slowest to load, and it's taking a lot longer to load on my system with the 3.0 beta than with 2.8.4.

However, cryptography is only needed for encrypted journals. Maybe there's a way to keep it from loading unless i

[2022-06-26 07:40] SepehrRasouli commented on #1353
@micahellison
Hi, I'm Interested In this issue and i would like to work on it.

I think we can convert the current dates to the new local dates, I researched this and found [this](https://herrmann.tech/en/blog/2021/02/05/how-to-deal-with-international-data-formats-in-python.html) blog post talking about conversion of these datetimes.
What do you think about it ?

[2022-06-26 16:34] viegasfh commented on #1380
Hello again, folks!

I played around with this, and the original request by @j-maynard  can already be met with the existing features the app has. As I mentioned earlier, using comments is one way of adding metadata to our documents. This will not disrupt anything, and if we are using Markdown, it will just be discarded in the output. So, here's how one can handle it:

[code]

In this case, we hav

[2022-06-29 01:35] apainintheneck opened #1525 "Update `--format yaml` example in docs"
## Documentation Change

### Affected Page(s)

https://jrnl.sh/en/stable/formats/#yaml

### What Could Be Better?

The yaml export format example causes an error when run.
[code]
It would probably be more helpful to provide an example that works and mention that the `--file` flag is required to be a valid directory when exporting to yaml.

[2022-07-02 08:58] outa commented on #1338
Hi! I'm a happy jrnl user and I would like to contribute here.
I did some googling and it seems like you cannot use just the stdlib. You can get the UTC offset like [describe here](https://discuss.python.org/t/get-local-time-zone/4169/3), but I didn't find a way to get the timezone name (e.g. "Europe/Berlin"). The name in the linked code snippet just prints "CEST" for me.

So I would try to make i

[2022-07-07 16:35] musicinmybrain opened #1534 "Support pytest-bdd 6"
## Feature Request

### Use Case/Motivation

[Version 6.0 of pytest-bdd has been released with numerous breaking changes](https://github.com/pytest-dev/pytest-bdd/releases/tag/6.0.0).

### Example Usage

https://github.com/jrnl-org/jrnl/pull/1531

### Other information

Almost everything fails when I do a quick compatibility check. I haven’t had a chance to investigate, but I wanted to go ahead an

[2022-07-09 18:12] micahellison commented on #1353
Hi @SepehrRasouli, sorry for the late response. Do feel free to submit a PR if you're interested in working on this. Just please be careful for anything that impacts the storage of dates -- my top concern with this issue is that I don't want someone's dates to be stored incorrectly due to jrnl suddenly recognizing the user's locale.

[2022-07-10 14:57] manoelpqueiroz opened #1537 "Create an environment variable when jrnl is called"
## Feature Request

### Use Case/Motivation

I am using Neovim as my editor for jrnl and I would like to disable most of my plugins to have a minimalist editor whenever I'm adding or editing entries.

As far as I know, the easiest way to enable such behaviour would be to make jrnl create a temporary environment variable when it's called.

The exact behaviour I'm trying to achieve when dealing with

[2022-07-10 19:42] micahellison commented on #1537
Hi there @manoelpqueiroz, thanks for the thoughtful and well-elucidated feature request. This is getting me to rethink how I use editors with jrnl as well. Though I think that the way for jrnl to accomplish something like this might be a bit less specific, such as using an application hook as discussed in #921 (which, interestingly enough, is also inspired by git).

However, I also think that this

[2022-07-11 08:48] stockphrase commented on #1010
I'm suddenly experiencing this issue.

[code]

[2022-07-11 20:45] wren commented on #1010
@stockphrase It looks like something is up with your python installation (`pip` is missing). Without `pip`, nothing will really install properly.

Can you reinstall python to see if that fixes your issue? If not, can you please provide some more info about your system and the python installation?

[2022-07-11 20:59] wren commented on #1537
I think this is the ticket. ⬆️

The way I have my personal jrnl config file set up, it looks like this:
[code]

Which runs the `PencilSoft` command as soon as Neovim opens. This command is from a plugin, but there's no reason you couldn't make a custom command, if you prefer.

But if you're really set on using an environment variable, you can also use the same syntax to set that variable. It might

[2022-07-16 21:21] #1415 closed, assigned to nobody

[2022-07-19 11:48] viegasfh commented on #1537
This is exactly I have mine configured, and it works fine. I use Goyo with PencilSoft.

[2022-07-21 20:47] manoelpqueiroz commented on #1537
Sorry for the latency, but thank you all for the replies, guys! I think this is the way to go as well and I hadn't thought it should be possible by simply changing the YAML configuration. Simple, practical and effective.

@micahellison, I'm closing this issue, but I'd love to make my first actual contribution here in GitHub by improving the documentation with this tip, should we create a new issue

[2022-07-21 20:47] #1537 closed, assigned to nobody

[2022-07-22 08:59] kwbr opened #1543 "Supress output if action is successful"
## Feature Request

Provide an option to silence the output if operation is successful.

### Use Case/Motivation

If everything has worked there is no need to print a 3 line graphical box that everything was written to my journal successfully. This is exactly what I would assume. I see this box 30 times a day and it does not provide useful information.

[code]

### Other information

Please provid

[2022-07-24 07:09] calm-tedesco opened #1544 "[Errno 13] Permission denied: '/home/<old username>'"
### Environment

  - Jrnl `--diagnostic` output:
[code]
  - Install method:
[code]

### What are you trying to do?

I am trying to install jrnl with brew on zsh on a user for which I changed the username before. I had previously installed jrnl on bash for a previous username successfully. Now, when I try to do the same the following error is thrown:
[code]

### What have you tried?

I have tried u

[2022-07-24 17:23] NeveIsa opened #1545 "How to I use a text editor for creating a new entry for yesterday"
`jrnl` will open the configured text editor.

But how do I use something like `jrnl yesterday:` and get the editor so that I can write my entries for yesterday?
I haven't been able to achieve this. Is there another way to do it?

[2022-07-26 00:38] clach04 opened #1547 "Escaped "reserved characters" - entered in text editor are replaced"
## Bug Report

### Environment

  - `jrnl --diagnostic` output:

        jrnl: v2.8.4
        Python: 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
        OS: Windows 10

  - Install method: pipx (I was not able to install successfully any other way)

### Current Behavior

Escaped "reserved characters" are getting replaced. See steps

I spotted this when copy/pastin

[2022-07-26 02:43] calm-tedesco commented on #1544
I located the issue. An absolute path to my default journal had been saved on `.config/jrnl/jrnl.yaml` by a previous installation. I don't know if this has been solved in later releases. I will open a bug issue if this is the case.

[2022-07-26 02:43] #1544 closed, assigned to nobody

[2022-07-28 16:55] SepehrRasouli commented on #1353
I'm very sorry, I wasn't able to answer.
@micahellison Maybe we could fix the problem like this :
* We can add an flag, and if the user passes that flag, we would know that we have to convert all journal dates to local ones.
An example can be something like this:
[code]
* The user has to specify their local zone in the configuration file to avoid locale settings detection problems
* And that the u

[2022-07-29 12:20] Baquant opened #1548 ".lnk files not working when calling external editors."
## Bug Report

I dont know if it is right to call this a bug. I was using an external editor called "Left" and it refused to start as fullscreen. So i created a shortcut and set the startup to fullscreen. Problem is; jrnl doesn't recognize .lnk files, probably because "subprocess.call()" is being used.

### Current Behavior

jrnl produces error: "WinError 193 %1 is not a valid Win32 application"

[2022-07-30 18:24] micahellison commented on #1548
Hello @Baquant, I don't see supporting LNK files for editors as within jrnl's scope. However, you should be able to get around this by opening the properties of the LNK file to find the path to your editor, then entering that path in your config file instead.

[2022-07-30 18:24] #1548 closed, assigned to nobody

[2022-07-30 18:28] wren commented on #1543
Hi! Thanks for filing this issue. In the code, we recently added a way to easily handle different styles of output. This is where the boxes came from, but it can easily support other styles. So, we went with the graphical boxes as the default, but were considering adding a way to change the output that a user sees (probably in the config, but maybe some flag).

Would having a different style of ou

[2022-07-30 18:34] micahellison commented on #1545
Hi @NeveIsa, it should work if you run this:
[code]
Your editor will open with an entry that starts with "yesterday:" which you can finish from there.

I'm closing this, but feel free to comment here if that doesn't work on your system.

[2022-07-30 18:34] #1545 closed, assigned to nobody

[2022-07-30 18:41] micahellison commented on #1547
Thanks @clach04 for filing this. It's definitely a bug!

Looks like the culprit is in Entry.py _parse_text and only with `\n`.

A resolution to this:
- [ ] change the behavior to look for newlines instead of \n
- [ ] add a test to confirm that \n isn't parsed as a newline
- [ ] add a test to confirm that splitting the title from the entry still works as expected, if there isn't one already

[2022-07-30 19:22] #1246 closed, assigned to nobody

[2022-07-30 19:46] #1338 closed, assigned to nobody

[2022-07-30 19:49] Baquant commented on #1548
@micahellison The only reason i used shortcuts was to force the application into fullscreen. I switched to sublime text though, so there is no problem.

If anyone somehow sees this, you can probably solve this with AutoHotkey like:

[code]

[2022-08-02 11:56] kwbr commented on #1543
I would prefer no output for successful operations. This is known as the "Rule of Silence" (http://www.linfo.org/rule_of_silence.html).

[2022-08-02 15:42] SepehrRasouli commented on #1521
Hi @micahellison, I think this problem could be solved via importing it in an if statement, For example, we can see if the user is using an encrypted journal or not via their config file, if yes, import the library, otherwise continue the program's flow.

[2022-08-03 22:27] flocentblack opened #1549 "UnicodeDecodeError"
UnicodeDecodeError                                                        ┃
'utf-8' codec can't decode byte 0x95 in position 351: invalid start byte

### Environment
jrnl --diagnostic
jrnl: v3.0
Python: 3.10.5 (main, Jun  6 2022, 12:05:50) [GCC 5.4.0 20160609]
OS: Linux 4.19.0-18-amd64

  - Install method:
Brew

### Current Behavior
 UnicodeDecodeError

[2022-08-13 19:44] micahellison commented on #1549
Hi @flocentblack, thanks for reporting this. Are you still running into this issue, and if so, could you please run `jrnl --debug` and paste the entire output here?

[2022-08-13 20:02] #1272 closed, assigned to nobody

[2022-08-13 20:25] micahellison commented on #1543
Thanks for the link, @kwbr. I like this notion. Just a few things we need to sort out:

**What should be suppressed**. This "Rule of Silence" piece presents a strong argument for suppressing this message for new entries. But what about edited entries? Especially when a timestamp is removed by the user, it can be a lot less clear as to what has happened to an entry. Maybe we would still want a list

[2022-08-13 20:47] micahellison commented on #1549
I just tried to reproduce this on my machine (Windows with WSL/Ubuntu) and couldn't repro the issue. I used brew to uninstall and reinstall jrnl and I deleted my jrnl config file beforehand.

jrnl --diagnostic output:
[code]

[2022-08-13 21:25] micahellison commented on #1433
Looking at parsedatetime today, which [hasn't been updated since 2020](https://pypi.org/project/parsedatetime/), though I do see [some PRs merged in throughout 2021](https://github.com/bear/parsedatetime/commits/master). It looks like it might be a dead project, though I also don't see any alternatives in Python to convert strings like "tomorrow" or "Monday" into a date, and it is not causing any

[2022-08-13 21:30] micahellison commented on #1433
colorama is still being updated, though we have begun using rich since I first filed this issue, and it has a lot of the same functionality. It might be worth it to consolidate to rich just to remove an additional dependency and eke out some performance improvements when jrnl runs. However, I don't see any risk in continuing to use colorama for a while.

[2022-08-13 21:33] micahellison commented on #1433
The issues around pytz and tzlocal were addressed in PR #1528, which removed pytz and updated tzlocal to the latest major release.

[2022-08-13 21:36] micahellison commented on #1433
And last but not least, we switched from pyyaml to ruamel.yaml this year (#1416). It hasn't had any new releases since, and we aren't yet using the breadth of functionality that enticed us to switch (like #946) but the door is now open to make those changes, and the library is working well.

[2022-08-13 21:37] micahellison commented on #1433
That covers all the dependencies! We'll come back to this next year. Hopefully these notes will be useful then.

[2022-08-13 21:37] #1433 closed, assigned to nobody

[2022-08-15 05:21] kwbr commented on #1543
The proposal sounds good to me. Setting the verbosity level in a backwards compatible way makes sense. A user, like me, that prefers no output could easily opt-in.

One thought: maybe let's start with the obvious things to suppress output. The example you brought up about complex edits and what to show the user in this case could be solved in a separate issue.

[2022-08-15 16:22] flocentblack commented on #1549
Thanks Micah for responding. When I attempted to run this today, jrnl was an invalid command. Ran the homebrew scripts and attempted to re-install jrnl.  jrnl was already installed, but now is no longer an invalid command. Here is the debug output:

[code]

[2022-08-15 16:24] flocentblack commented on #1549
Just discovered that closing the terminal, opening a new terminal window and attempting to run jrnl will give the command not found message

[2022-08-19 18:09] xeruf opened #1557 "Improve command-line help"
## Feature Request

### Use Case/Motivation

The help screen is a bit unwieldy (also see  #1274)

### Suggestions

- group flags/parameters/standalone commands in `usage:` section
- document that you can specify different journals and how, this is currently missing completely (as documented in https://jrnl.sh/en/stable/advanced/#multiple-journal-files)
- maybe clarify what the `[...]` is supposed

[2022-08-19 19:25] xeruf opened #1558 "Allow specifying a journal by filename in arguments"
## Feature Request

### Use Case/Motivation

Sometimes I shuffle my journals around and resolve conflicts from different devices, and then it would be helpful to operate on a journal by filename

### Example Usage

Not only try to find a journal in `journals` config by name, but also check if there is a file with that name/path and use that.

    jrnl intentions.txt Be Happy

Would insert "Be Happ

[2022-08-21 19:25] micahellison commented on #1558
Hi @xeruf, thanks for filing this issue. Currently, this is possible through the `--config-override argument`, with some caveats. If you have a default jrnl configuration, you can journal to a different file like so:
[code]

The caveat is that if your config file is structured differently such that there settings specific to your journal (for instance, if you encrypt your journal), you'll have to

[2022-08-21 19:37] wren commented on #1557
@xeruf Great points! We could also add a link to [jrnl.sh](https://jrnl.sh) so people know to look online for even more in-depth help.

[2022-08-21 19:39] micahellison commented on #1557
Hi @xeruf, thanks for filing this. I agree with all these suggestions.

For grouping suggestions in the "usage" section up top, I think it would be good to use roughly the same groupings as below. I imagine we'd just use line breaks to separate each group but I'm open to suggestions or examples.

For your suggestion on documenting how to specify different journals, I think an example in the "Writi

[2022-08-21 19:52] micahellison commented on #1549
Hi @flocentblack, I'm not sure what's going on. It looks like it could be specific to linuxbrew and/or your linux installation. Have you checked with the brew community? They might have a better understanding of this issue. Alternatively, you might have better luck using [pipx ](https://pypa.github.io/pipx/) to install jrnl instead of brew.

We have seen this UnicodeDecodeError before, but only in

[2022-08-21 22:01] wren opened #1559 "Update issue & PR templates to use forms"
## Feature Request

Update issue & PR templates to use forms.

### Use Case/Motivation

Right now, we're using markdown templates, which--while better than nothing--can be a bit error prone.

### Example Usage

https://github.com/wez/wezterm/blob/main/.github/ISSUE_TEMPLATE/bug.yml

### Other information

https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-re

[2022-08-21 22:04] wren opened #1560 "Replace Dependabot"
## Bug Report
Dependabot has been languishing and really needs some maintenance and features that Github seems to no longer be providing. It still provides useful information, but maybe there's another tool out there that can give us the advantages of Dependabot without the maintenance problems.

### Other Information

This looks promising: https://github.com/renovatebot/renovate

[2022-08-21 22:10] micahellison commented on #1543
Thanks for this thought. That's a great point and I'm happy to move forward with this change rather than holding it up with all these other questions.

I put in a PR to suppress the message with one exception: it still displays the message if you're journaling to a non-default journal. I think that message is still useful in those cases, especially considering how "magic" jrnl is when it comes to

[2022-08-21 22:45] micahellison commented on #1393
I was just thinking about this issue while looking at #687. If we could put out an MSI or EXE, then we would open the door to supporting winget.

[2022-08-22 09:58] FedericoStra commented on #1242
I just started using `jrnl`. After playing a bit with it, I also had the desire to have an `-all` search term to list both past and future entries (the `-to today` search recommended in the guide is insufficient for this). I then realized that for practical purposes the easiest solution is to run `jrnl -not _` or `jrnl -not @` or something similar with a nonexistent tag.

[2022-08-23 20:14] pjz commented on #1547
I think the issue is https://github.com/jrnl-org/jrnl/blob/develop/jrnl/Journal.py#L313 ; why is that being done?

[2022-08-26 19:23] jonakeys commented on #1049
When trying to reproduce this with v3.0, the edited/added tag shows up as expected. Maybe it's fixed between v2.4.5 and now with other PR's?

[2022-08-27 18:38] wren commented on #1558
How about if we use the `--file` flag? So, it might look something like:

[code]

[2022-08-27 18:40] micahellison commented on #1049
That's great news! Thanks for checking that.

I think this issue still needs a running test to be closed, just so we can be sure that we won't have a regression.

[2022-08-27 18:43] micahellison commented on #1547
You're right, though I'm not sure why it's there. Still, it's not documented and it's not expected, so I think it's worth changing.

[2022-08-27 19:13] #1454 closed, assigned to nobody

[2022-08-27 19:33] #1543 closed, assigned to nobody

[2022-08-27 21:11] #1559 closed, assigned to nobody

[2022-08-27 21:14] xeruf commented on #1558
why a flag at all if there is already keyword recognition for specifying journals?

[2022-08-29 07:33] chaitanya-sahu opened #1570 "Default entry editor takes max 511 characters per line in Windows"
### Diagnostic output

jrnl: v3.1
Python: 3.10.6 (tags/v3.10.6:9c7b4bd, Aug  1 2022, 21:53:49) [MSC v.1932 64 bit (AMD64)]
OS: Windows 10

### What are you trying to do?

I am trying to write an entry in cli using the `jrnl` command. But the entry can't go beyond 511 characters, it stops talking anymore character input (no more characters can be typed on the cli).

### What have you tried?

I trie

[2022-08-29 21:12] micahellison commented on #1570
Hi @chaitanya-sahu, thanks for filing this. I can reproduce this issue on my Windows 10 machine also, using both the regular command prompt and the new Windows Terminal, and both CMD.EXE and PowerShell. It is possible to have longer entries with line breaks, but the default editor only allows 511 characters per line.

Some workarounds for writing longer lines in Windows:
* Configure an editor
* In

[2022-08-30 05:55] chaitanya-sahu commented on #1570
Hi @micahellison, thanks for the reply, I completely forgot about line breaks. And also, I am using the wsl in Ubuntu as a workaround, it works great. Thanks again for analyzing the problem and giving me great workarounds.

[2022-08-30 05:57] chaitanya-sahu commented on #1570
Thanks for the help and the workarounds work perfectly. I'll keep this open. Thanks again. @micahellison!

[2022-08-31 01:15] wren commented on #1558
@xeruf The keyword recognition of journal names works because the config already has to be parsed in order for jrnl to function. So, when a user enter something like `jrnl hello my name is`, it's very quick and easy to check if `hello` is the name of a journal or not, and proceed accordingly.

If we expand this functionality to also include filenames, jrnl would have to check the current folder ea

[2022-08-31 06:54] danielgruber99 opened #1573 "Read-only file system: '/Usersrs'"
### Diagnostic output

jrnl: v3.1
Python: 3.10.6 (main, Aug 11 2022, 13:49:25) [Clang 13.1.6 (clang-1316.0.21.2.5)]
OS: Darwin 21.6.0

### Current Behavior

By running the command 'jrnl' an error occurs with folling message: "OSError [Errno 30] Read-only file system: '/Usersrs'"

### Expected Behavior

The command should me let write any notes.

### Repro Steps

Only running 'jrnl'. Also 'jrnl yes

[2022-08-31 16:10] xeruf commented on #1558
fair points, though `jrnl` anyways does a file access to write to the journal ^^
maybe this could also be a config option, whether it tries to match to a filename

That's easy, it should only act differently if the first word is an existing text file.

[2022-09-03 18:25] micahellison commented on #1549
I'm closing this for now, but feel free update this issue with more info if you find anything new.

[2022-09-03 18:25] #1549 closed, assigned to nobody

[2022-09-03 18:34] wren commented on #1573
Hi, @danielgruber99! Thanks for filing an issue.

It looks like your config has a typo. The file for your default journal is set to `/Usersrs/q465528/MyJournal`. If you update the start of the path to `/Users`, then you should be good to go. Macs don't have a `/Usersrs` directory by default, and `/` is read-only by default, so `jrnl` is getting an error when attempting to create the directory for

[2022-09-03 18:34] #1573 closed, assigned to nobody

[2022-09-03 18:51] micahellison commented on #1558
I'm not a big fan of making this feature it "magical" like journal names currently are. It would mean jrnl would have to check the current directory's files every time it runs, which could be particularly annoying for a user depending on where the current directory is. It's a lot different than the regular config file access that only happens in the user folder.

I also worry about the impact of j

[2022-09-03 19:02] micahellison commented on #1393
[Nuitka](https://nuitka.net/) looks promising for this.

[2022-09-03 19:21] #1488 closed, assigned to nobody

[2022-09-03 19:21] #1560 closed, assigned to nobody

[2022-09-03 19:32] renovate[bot] opened #1586 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/jrnl-org/jrnl).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Rate-Limited

[2022-09-03 20:31] xeruf commented on #1558
yeah I guess a flag is fine

[2022-09-03 21:09] micahellison opened #1589 "CI doesn't flag release tags as releases"
### Diagnostic output

n/a

### Current Behavior

When we release a new jrnl version, our process tags the commit, but it doesn't mark it as a release.

### Expected Behavior

The [release history on GitHub](https://github.com/jrnl-org/jrnl/releases) should automatically show the release.

### Repro Steps

Run the release GitHub Action.

### Debug output

n/a

### Other Information

_No response_

[2022-09-10 18:48] #1525 closed, assigned to nobody

[2022-09-10 18:49] micahellison opened #1593 "Zero-length file created when attempting to export YAML to a directory that does not exist"
### Diagnostic output

[code]

### Current Behavior

In a directory where there is no file or subdirectory named "test", run:
[code]
I see the error message as expected:
[code]
But then I find an empty file named "test" in that directory.

### Expected Behavior

jrnl should give me an error message and not do anything esle.

### Repro Steps

In a directory without a file or folder named "test":
[c

[2022-09-15 13:14] jao2022 opened #1597 "jrnl shows wrong weekday"
### Diagnostic output

jrnl: v3.2
Python: 3.10.6 (main, Aug 30 2022, 04:58:14) [Clang 13.1.6 (clang-1316.0.21.2.5)]
OS: Darwin 21.6.0

### Current Behavior

jrnl displays the wrong weekday when "%A, %B %d %H:%M" is set for the timeformat. Today is September 15th, so journal entries from today should say "Thurday, September 15 09:00" However, jrnl is reporting "Saturday, September 15th 09:00". When

[2022-09-17 18:54] micahellison commented on #1597
Thanks for reporting this, @jao2022. I reproduced the issue on my Windows 10 machine also. Today's date (a Saturday) is saved as a Monday, though the rest of the date string is correct. It is a problem with how jrnl stores the date, rather than how it displays it.

Looks like the journal doesn't need to be encrypted for this to happen. Here are some simpler steps to repro:
* Define a new journal i

[2022-09-17 19:02] #1100 closed, assigned to nobody

[2022-09-20 10:08] kjanezic95 opened #1599 "Bug Report - Sometimes jrnl crashes and truncates journal file"
### Diagnostic output

jrnl: v2.8.3
Python: 3.8.10 (default, Jun 22 2022, 20:18:18)
[GCC 9.4.0]
OS: Linux 5.10.16.3-microsoft-standard-WSL2

### Current Behavior

Sometimes (2 times this month), jrnl crashes and just truncates whole journal file.

This is the actual error:  ("JRNL $ " is just a prompt that sends input to "jrnl $prompt")
[code]

### Expected Behavior

Journal files should not get t

[2022-09-24 18:39] micahellison commented on #1597
Update: I was just talking about this with @wren, who pointed out that the year was gone from this timestamp, which explains why it's been so erratic.

The date picker must be choosing some arbitrary year for figuring out the weekday. If you change your format to this, it will work fine:
[code]

I'm remove the "bug" label from this issue and closing it, since it's not realistic to support jrnl wit

[2022-09-24 18:39] #1597 closed, assigned to nobody

[2022-09-24 19:25] micahellison commented on #1599
Hi @kjanezic95, thanks so much for filing this. We're looking into it and are still not sure what the root cause is, though here's what we can tell so far: jrnl only supports UTF-8, and there was something in either your journal or your call to jrnl that somehow uses UTF-16 characters (specifically, [surrogates](https://learn.microsoft.com/en-us/globalization/encoding/surrogate-pairs)).

I don't k

[2022-09-27 09:52] kjanezic95 commented on #1599
Hello, from what you say it is probably the scripts fault, as jrnl never did that when I used it "normally". I am suspecting I somehow inserted one of this characters when I was editing the prompt - deleting text, moving around, etc...

I am using jrnl in WSL Ubuntu 20 and Python is updated to the most recent version. I did try to upgrade manually but then I had 2 Pythons. When I removed old one e

[2022-09-27 09:52] #1599 closed, assigned to nobody

[2022-09-27 21:37] xeruf opened #1601 "[Documentation] Edit on Github link broken"
### Affected Page(s)

all

### What Could Be Better?

it should link to the development branch, not master

### Other Information

_No response_

[2022-09-27 21:38] xeruf commented on #1601
nevermind, for some reason I landed on version 2.4.5 of the docs

[2022-09-27 21:38] #1601 closed, assigned to nobody

[2022-09-27 21:40] xeruf commented on #821
I would like to apply this on the file storage, can't we add that as a parameter in the config?

[2022-10-06 14:47] micahellison opened #1607 "jrnl uses UTC instead of local time for entries in WSL/Ubuntu"
### Diagnostic output

[code]

### Current Behavior

The timestamp associated with new entries uses UTC instead of local time.

### Expected Behavior

jrnl is expected to use local time.

### Repro Steps

[code]

Note that the entry time is 14:26 instead 07:26.

Checking the system date immediately afterward:
[code]

### Debug output

[code]

### Other Information

My config is the default config.

[2022-10-08 09:54] outa opened #1608 "Adding type hints to the codebase"
### Use Case/Motivation

Hi,

how do you feel about adding type hints to functions and methods in the code?

I think that in addition to catching and avoiding bugs, it would also make the code easier to understand for new contributors.

Plus one could add some kind of static type checker to the CI

### Example Usage

n/a

### Other Information

I'm willing to submit a PR

[2022-10-08 19:17] micahellison commented on #1608
Thanks for filing this, and yes, we're into it! Just a couple things to be mindful of:

Right now we have an open draft PR #1602 that does this in a few places, so it might be worth glancing at that so you don't have to duplicate any work.

The other issue is that type hints have been changing rapidly over the past few Python releases, as we're seeing in that same PR (the tests in Python 3.9 are f

[2022-10-08 19:24] micahellison commented on #1607
It turns out this issue is happening in searches too.

For instance, if I have an entry saved at 19:20pm and I run this at 12:20pm PST:
[code]
It will display the 19:20pm entry.

[2022-10-08 19:35] micahellison opened #1609 "Allow sorting in saved journal file(s)"
### Use Case/Motivation

@xeruf mentioned wanting to sort the entries in the file storage itself in #821. I'm spinning it off to this issue since it's a separate concern, but I think it's worth looking into.

### Example Usage

Perhaps a config value could define how it's sorted. Or, in the longer run, perhaps the sort order would be a metadata property of the journal itself, so there would be les

[2022-10-08 19:36] micahellison commented on #821
Thanks @xeruf for the idea -- I'm spinning it off to a separate issue (#1609) since storage is such a different concern from presentation.

[2022-10-08 20:41] #1202 closed, assigned to nobody

[2022-10-08 20:45] micahellison opened #1612 "Remove default_hour and default_minute config options"
### Use Case/Motivation

This is a breaking change with the motivation to simplify jrnl for contributors and users. It would remove all support for the `default_hour` and `default_minute` config keys in jrnl.

I filed a discussion to propose this six months ago (see #1465), though I haven't seen any responses. I think this is a worthwhile enough change to implement, but please let us know in the d

[2022-10-08 20:48] #1593 closed, assigned to nobody

[2022-10-08 21:40] wren opened #1613 "Using `--config-file` can overwrite parts of default config sometimes"
### Diagnostic output

[code]

### Current Behavior

When running `jrnl` with `--config-file secondary.yaml`, some operations result in the default config file (`~/.config/jrnl/jrnl.yaml`) being overwritten instead.

### Expected Behavior

Only the file specified by `--config-file` should be written to, and the default config file should be untouched.

### Repro Steps

Given these two config files

[2022-10-13 22:11] micahellison opened #1615 "Add step-by-step Windows command line installation instructions"
### Affected Page(s)

[Quickstart](https://jrnl.sh/en/stable/installation/)

### What Could Be Better?

The quickstart page has a single brew command for Mac & Linux, but just uses links for "other platforms" such as Windows. It would be nice to have step-by-step console instructions instead.

We still can't do a single-line installation in Windows, but I think I have gotten it down to three comma

[2022-10-14 03:31] venusimpelz opened #1616 "Unexpected password prompt"
### Diagnostic output

jrnl: v3.2
Python: 3.10.8 (tags/v3.10.8:aaaf517, Oct 11 2022, 16:50:30) [MSC v.1933 64 bit (AMD64)]
OS: Windows 10

### Current Behavior

Prompt for password which I didn't set after install jrnl.

### Expected Behavior

make the password setting easier.

### Repro Steps

on windows, I create the file under dropbox.

### Debug output

C:\Users\Lenovo>jrnl --debug lorem ipsum

[2022-10-14 06:34] #1616 closed, assigned to nobody

[2022-10-14 06:34] venusimpelz commented on #1616
solved

[2022-10-18 08:37] DSiekmeier opened #1617 "Documentation of "display_format" incorrectly states that it can be used to change date display format"
### Diagnostic output

[code]

### What are you trying to do?

I want the time and date of my journal entries to be displayed in a format that I am used to (day-month-year). I do not want to change the timeformat of an existing journal file or the config.

### What have you tried?

The documentation of the [Configuration File](https://jrnl.sh/en/stable/reference-config-file/) says with regard to t

[2022-10-18 23:17] micahellison commented on #1617
Hi @DSiekmeier, thanks for filing this. You're right that the documentation is wrong here. Currently there's no way to change how the time is displayed without also changing how this is stored. We have an open issue for that in #1098.

I'll keep this open as a docs issue so we can at least correct the docs by the next release.

[2022-10-19 07:18] DSiekmeier commented on #1617
Thanks for your reply! If you like, I can do the changes and fill in a merge request.

Best regards, Dennis

[2022-10-19 17:13] micahellison commented on #1617
Yes, absolutely, feel free to submit a PR. Thanks for offering!

[2022-10-20 17:35] micahellison commented on #1615
Someone with Win 10 Pro build 19044 tried this and got "winget not found" in both cmd and PowerShell. It looks like some Windows users would have to install winget manually for this to work.

If that's the case, it might be simpler to just keep linking to python.org.

[2022-10-22 19:31] micahellison commented on #1615
I'm going to close this -- I don't think this approach is ideal. However, more comprehensive Windows installation instructions could still be useful -- see #865 for that.

[2022-10-22 19:31] #1615 closed, assigned to nobody

[2022-10-22 19:50] micahellison commented on #1445
Running into an issue with this -- it won't display the machine-readable format if there is no default journal specified in the config. We need to add a test case and solution for this before resolving again.

[2022-10-22 20:10] thetayloredman commented on #1445
I believe the issue is resolved and this could be a new issue or comment on #1592

[2022-10-22 21:00] micahellison commented on #1445
I opted to re-open it instead since this has not made it into an official release and we'd like it fixed before it does. We're working on it right now so it should be re-closed soon.

[2022-10-22 21:28] #1617 closed, assigned to nobody

[2022-10-22 22:35] #1445 closed, assigned to nobody

[2022-10-22 23:24] micahellison opened #1622 "Update console examples on jrnl.sh front page"
### Affected Page(s)

https://jrnl.sh

### What Could Be Better?

It's been years since this text has changed. It would be good to review it against jrnl's current feature set.

I think some style changes could be nice too: maybe we don't need to be "like a boss" to use jrnl. And I'd rather not taunt a powerful intelligence agency on our front page.

### Other Information

_No response_

[2022-10-23 06:38] xeruf commented on #1485
And what if I would contribute an import from another format? Thinking of org-journal right now.

[2022-10-24 05:18] Ajay-056 opened #1623 "'utf-8' codec can't decode byte 0xae in position 225: invalid start byte"
### Diagnostic output

jrnl: v3.2
Python: 3.10.7 (main, Sep  6 2022, 21:22:27) [GCC 12.2.0]
OS: Linux 5.15.74-3-MANJARO

### Current Behavior

Changed the default path while started first. Can't able to add any notes stuck with this error

### Expected Behavior

My note to be added in jornal.txt

### Repro Steps

Not sure

### Debug output

UnicodeDecodeError

### Other Information

_No response_

[2022-10-24 22:59] micahellison commented on #1623
Hi @Ajay-056, thanks for the filing this. I suspect the issue is that you may have made an initial entry with a character that Python can't converted to UTF-8, probably because it is in a different character set, though I'm not sure. We know that some types of data can cause this but we haven't been able to reproduce it consistently.

Is there anything in your default journal at the path you see w

[2022-10-25 18:36] Ajay-056 commented on #1623
Here is the output of the jrnl --list

Journals defined in config (/home/******/.config/jrnl/jrnl.yaml)
 * default -> /home/******

 Its the built in editor BTW

[2022-10-25 18:46] micahellison commented on #1623
Thanks @Ajay-056 for the information. If there is nothing private in your default journal file, would you be willing to attach it or send it to us?

And also, if you are willing to share the output of your `locale` Linux command, that may help us troubleshoot.

And lastly, you may be able to get past this error by deleting your default journal file and starting again, though I am worried the issue

[2022-10-27 03:45] AlexBeez commented on #1607
Issue confirmed to happen on Peppermint/Devuan as well.

[2022-10-29 06:17] Ajay-056 commented on #1623
Closing this issue as it was a mistake while changing the path. Missed the text file name as I thought it would create by default.

[2022-10-29 06:17] #1623 closed, assigned to nobody

[2022-10-29 18:43] micahellison commented on #1485
Hi @xeruf, you're welcome to file an issue and submit a PR for any import format. I think the important thing for imports in particular is that we should have a well-documented spec for any external format that we end up supporting. Ideally, that spec would be versioned and centrally-maintained somewhere.

[2022-10-29 18:59] micahellison commented on #1005
I think this fits in this issue:

- [ ] Fix the `!!! note` style (as seen in the External Editors page), which doesn't have a very distinct background so it's hard to tell when a "Note" ends.

[2022-10-29 19:14] #1456 closed, assigned to micahellison

[2022-10-30 10:59] xeruf commented on #1485
Yeah that sounds good, I was also wondering where to start in the source code as there seem to be a few possible places.

[2022-10-30 15:09] micahellison commented on #1485
For the import code itself, I think a good start would be creating a class similar to: `/jrnl/plugins/jrnl_importer.py`

Your new class should be included in `__importers` in `/jrnl/plugins/__init__.py`

And some tests in `/tests/bdd/features/import.feature` would be essential. I think it could be enough to reuse some of the existing import tests, such as single entry import and multiple entry imp

[2022-11-04 16:29] wfloydiv opened #1633 "Support Request"
### Diagnostic output

jrnl: v3.3
Python: 3.11.0 (main, Oct 24 2022, 18:26:48) [MSC v.1933 64 bit (AMD64)]
OS: Windows 10

### What are you trying to do?

I wasn't thinking and in the process of setting jrnl to send my saved journal entries to a folder in my Documents folder, just sent it to C:\\Documents and it does not have permissions to do so. It says:
PermissionError
┃  [Errno 13] Permission

[2022-11-04 17:18] wfloydiv opened #1634 "Support Request"
### Diagnostic output

jrnl: v3.3
Python: 3.11.0 (main, Oct 24 2022, 18:26:48) [MSC v.1933 64 bit (AMD64)]
OS: Windows 10

### What are you trying to do?

I am trying to make it so that jrnl saved my entries to my Documents, and a sub-folder in my documents, called Journals.

### What have you tried?

I have not tried anything as I am not sure what my next steps are with the error I have been give

[2022-11-04 17:19] #1633 closed, assigned to nobody

[2022-11-05 00:02] micahellison commented on #1634
Hi @wfloydiv, I'm not sure what is happening exactly. I just tried to reproduce this issue on my Win 10 machine and it created the folders without an error.

I wonder if maybe the user you're running as doesn't have access to C:\Documents and your screenshot is actually pointing to a different documents folder (which you can find by right-clicking your Documents "smart folder" in the window in you

[2022-11-05 22:34] micahellison commented on #1608
The bulk of the work is done (thanks @outa) though I'm leaving this open because we don't quite have enough static type checking yet. Once we have that in place and without errors, I think we can close this issue.

Looks like we'll probably be picking between mypy and pedantic, or maybe others. Suggestions are welcome.

[2022-11-07 21:11] jxfreeman opened #1637 "Allow start and end times for journal entries"
### Use Case/Motivation

When I am journaling, it would be nice to record the duration of the activity being journaled.  For example, I journal meeting attendance and have a script which generates meeting journals in a standardized way to aid searching and presentation.  I could add a duration to each journal entry however this would result in inconsistent placement of the duration in the entry an

[2022-11-11 05:42] Serenade600 opened #1638 "jrnl does not update version key in config file"
### Diagnostic output

[code]

### Current Behavior

If I run `jrnl --version`  in powersell, I get
[code]

But the version number in jrnl.yaml is still previous version v2.8.1 which is not automatically updated as described in [web](https://jrnl.sh/en/stable/reference-config-file/).

### Expected Behavior

The version be updated in the jrnl.yaml.

### Repro Steps

I updated jrnl from v2.8.1 to v3

[2022-11-11 20:15] richardjs opened #1639 "Adding an entry with a combination of flags causes a journal overwrite"
### Diagnostic output

jrnl: v3.3
Python: 3.10.8 (main, Nov  1 2022, 14:18:21) [GCC 12.2.0]
OS: Linux 5.15.77-1-lts

[I confirmed this exists in the current `develop` branch.]

### Current Behavior

Run this, when no entries match the parameters:

`jrnl @dummytag -on today --edit --change-time`

And then save the entry. The journal file will only contain the just-added entry.

### Expected Behavio

[2022-11-11 20:29] richardjs commented on #1639
I'm refined the repro to `jrnl dev -on tomorrow --edit --change-time`. The `--edit` and `--change-time` flags must both be present. The search parameter doesn't matter, as long as it returns no results.

[2022-11-12 20:27] micahellison commented on #1637
Hi @jxfreeman, thanks for filing this. This is definitely on the table, and we're considering it as part of the new file format.

[2022-11-12 20:39] micahellison commented on #1638
Thanks @Serenade600 for filing this. I was able to reproduce this on my Windows 10 machine as well.

A resolution to this fix should have:
- [ ] a fix for the problem
- [ ] BDD tests for upgrading config files from various versions
  - [ ] If the version is out of date, we should see the text `Configuration updated to newest version at`
  - [ ] And the config version key should be set to the curre

[2022-11-12 21:14] micahellison commented on #1639
Thanks for filing this, @richardjs.

I was having a hard time reproducing the error until I realized that the editor also needs to save some data before closing. If the editor is just empty, it doesn't overwrite the journal, and we get this message:
[code]

[2022-11-12 21:18] richardjs commented on #1639
@micahellison, yeah, that's correct. Sorry I overlooked that detail!

[2022-11-17 08:50] talleyhoe opened #1641 "Can't pipe password to console"
### Diagnostic output

~ →jrnl --diagnostic
jrnl: v3.3
Python: 3.10.8 (main, Nov  1 2022, 14:18:21) [GCC 12.2.0]
OS: Linux 6.0.8-arch1-1

### Current Behavior

Pipe input isn't being consumed. I've also tried with 'echo -e' but for some reason it doesn't detect the stdin??

### Expected Behavior

I should be able to pipe the password into the prompt.

### Repro Steps

Encrypt journal, put password

[2022-11-17 09:02] talleyhoe commented on #1641
Now that I'm thinking about this, the behavior makes sense since jrnl accepts entries via stdin. Without even asking I'm sure nobody wants to remove this. So what if we added in a --password flag so we can read from stdin or provide via cmd line? Then you can pipe the entry via '(pass, entry body) | jrnl' or script with 'jrnl --password $(pass)'

[2022-11-19 20:20] micahellison commented on #1634
Hi @wfloydiv, I'm going to close this now but feel free to respond here if you're still having problems.

[2022-11-19 20:20] #1634 closed, assigned to nobody

[2022-11-19 20:25] micahellison commented on #1641
Hi @talleyhoe, I agree, we wouldn't want to remove the existing functionality. And we'd want to use an approach that doesn't involve passing the password in the command line, but instead passes a command to retrieve the password. That's mostly documented inthe existing issue #1303, though I'll add a note there about a possible command line argument.

[2022-11-19 20:26] micahellison commented on #1303
Re #1641 - it could also be nice to have this functionality as a command line argument.

[2022-11-19 20:26] #1641 closed, assigned to nobody

[2022-11-19 21:39] #1521 closed, assigned to nobody

[2022-11-19 21:40] #1021 closed, assigned to nobody

[2022-11-19 21:45] #894 closed

[2022-11-19 22:25] micahellison commented on #1231
I don't see a way to do this with the more recent subprocess methods.

However, we can approach this by checking if we're on Windows and the editor command has no path or extension. If so, we can catch FileNotFoundError on this call then re-run the call with `.cmd` and `.bat` appended to it. If either of those are in the PATH, they should show up.

A resolution to this should:
 - [ ] use the above

[2022-11-28 16:06] ghost opened #1643 "Is the content of my journal visible via "jrnl -year 2022" even though it's encrypted?"
### Diagnostic output

N/A

### What are you trying to do?

I have my journal file encrypted but when I type `jrnl -year 2022` all my entries are shown publically. Is this not vulnerable? Shouldn't those entries be hidden, like the TXT file is?

![image](https://user-images.githubusercontent.com/51487203/204325044-4feacddb-fc07-49f3-89ec-41b8731c789f.png)

### What have you tried?

N/A

### Other

[2022-11-30 18:58] richardjs opened #1644 "jrnl crashes when adding tag argument after `--change-time`"
### Diagnostic output

jrnl: v3.3
Python: 3.10.8 (main, Nov  1 2022, 14:18:21) [GCC 12.2.0]
OS: Linux 5.15.80-1-lts

### Current Behavior

The following command produces an exception:

[code]

### Expected Behavior

jrnl should open the most recent entry with `@tag` for editing, changing the time to the current time. That is to say, it should do the same as this command (which has the same argumen

[2022-11-30 20:12] jonakeys commented on #1232
Just to see if I understand it correctly:
If linewrap is set to 'false', the output already doesn't wrap the lines. But it also ignores formatting like the indentation mark ('|') and newlines ('\n'). Is that what you meant @micahellison ? Or would you prefer the same layout as wrapped text, but without the wrapping?
If so, I would like to work on this issue.

[2022-11-30 20:51] micahellison commented on #1232
Hi @jonakeys, honestly, I'm not sure what I meant. It's possible that the formats have changed since I filed this.

I see what you mean with how `lineformat: 0` already ignores the `indent_character` but I think that is a good feature.

I don't know how consistent this is across formats, however. Maybe there are no changes needed for this issue except to add BDD tests and documentation.

[2022-11-30 21:20] jonakeys commented on #1232
Thanks for your comments. You're right about the indent_character; when piping output, it should be as clean as possible.
I will look into consistency across formats and also add BDD tests and documentation.

[2022-11-30 23:29] Kenterum opened #1645 "Support Request - KeyError 'journal'"
### Diagnostic output

[code]

### What are you trying to do?

I was trying to Create Multiple journal files. I followed exactly the same path on https://jrnl.sh/en/stable/advanced/

### What have you tried?

**I opened a  new journal path in my config file**

[code]

**After this process I just wrote this command:**
`jrnl dehopa`

**But I got an Error**
[code]

### Other Information

I am trying